Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Refactor use-load-more
  src/composables/use-load-more.js
Due: eslint --fix

Remove unnecessary page calculations
  src/composables/use-load-more.js
  src/store/media.js
Due: eslint --fix

Remove unnecessary page calculations
  src/store/media.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Remove unrelated changes
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/pages/search/audio.vue
Due: eslint --fix

Do not destructure the props
  src/composables/use-load-more.js
Due: eslint --fix

Update src/store/media.js
  src/store/media.js
Due: eslint --fix

Fix all_media error
  src/locales/po-files/openverse.pot
  src/store/media.js
Due: eslint --fix

Only set the media to blank on error to fix audio detail page
  src/store/media.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix

Remove lodash.findindex
  package.json
  pnpm-lock.yaml
Due: none

Convert search type buttons in the header to links
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  test/e2e/filters.spec.js
  test/e2e/search-types.spec.js
  test/e2e/utils.js
Due: eslint --fix

Temporarily replace the method that is only available in refactored search store
  src/components/VContentSwitcher/VSearchTypeItem.vue
Due: eslint --fix

Add pot file
  src/locales/po-files/openverse.pot
Due: none

Remove unnecessary extension in the import
  src/store/media.js
Due: eslint --fix

Add message to notify about build wait
  docker-compose.playwright.yml
Due: none

Enable `getFullLicenseName` to access translations
  src/components/License/VLicense.vue
  src/components/License/meta/VLicense.stories.mdx
  src/components/VMediaInfo/VMediaReuse.vue
  src/constants/license.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/audio/_id.vue
  src/utils/license.ts
  test/unit/specs/utils/license.spec.ts
Due: eslint --fix, prettier --write

Use `isDeprecated` util
  src/components/VFilters/VLicenseExplanation.vue
Due: eslint --fix

Invert conditional to avoid double negative
  src/composables/default-ref.ts
Due: eslint --fix

Allow typescript-eslint to override eslint recommend configs
  .eslintrc.js
Due: eslint --fix

Enable extensions rule and upgrade libs to match TS version
  .eslintignore
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix

Fix all extension and other outstanding lint warnings/errors
  .storybook/main.js
  .storybook/middleware.js
  .storybook/preview.js
  src/components/License/VLicense.vue
  src/components/VErrorSection/VErrorImage.vue
  src/components/VFourOhFour.vue
  src/components/VHeader/VSidebarContent.vue
  src/components/VLogoLoader/meta/VLogoLoader.stories.js
  src/components/VModal/VModalTarget.vue
  src/components/VPopover/meta/VPopover.stories.js
  src/components/meta/DownloadButton.stories.js
  src/components/meta/DropdownButton.stories.js
  src/components/meta/VButton.stories.js
  src/locales/scripts/create-wp-locale-list.js
  src/pages/extension.vue
  src/pages/search.vue
  test/unit/specs/components/VMediaTag/v-media-tag.spec.js
  test/unit/specs/components/copy-button.spec.js
  test/unit/specs/components/download-button.spec.js
  test/unit/specs/components/dropdown-button.spec.js
  test/unit/specs/components/image-grid.spec.js
  test/unit/specs/components/loading-icon.spec.js
  test/unit/specs/components/related-images.spec.js
  test/unit/specs/components/scroll-button.spec.js
  test/unit/specs/components/search-grid.spec.js
  test/unit/specs/components/v-checkbox.spec.js
  test/unit/specs/components/v-filter-checklist.spec.js
  test/unit/specs/components/v-license.spec.js
  test/unit/specs/components/v-search-results-title.spec.js
  test/unit/specs/locales/json-to-pot.spec.js
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix

Fix hero search button layout error
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/pages/index.vue
Due: eslint --fix

Lint
  src/store/media.js
Due: eslint --fix

Remove the union with `undefined`
  src/utils/license.ts
Due: eslint --fix

fix focus outline placement button
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VIconButton/VIconButton.vue
Due: eslint --fix

lint error fix
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix

Enable HTTPS in local development
  .gitignore
  README.md
  nuxt.config.ts
  package.json
Due: eslint --fix

Typo fix
  README.md
Due: none

Cleanup README information
  README.md
Due: none

Streamline local IP discovery
  README.md
  TESTING_GUIDELINES.md
Due: none

Another typo `loval` ~> `local`
  README.md
Due: none

Update package.json
  package.json
Due: none

Strictly filter sentry errors
  src/utils/sentry-config.ts
Due: eslint --fix

Hotfix for negative values in peaks
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix

Polish the horizontal padding of hero search button
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix

Validate peaks values only by checking if they are numbers
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix

Disable problematic rules for storybook
  .storybook/.eslintrc.js
  .storybook/preview.js
Due: eslint --fix

Apply suggestions from code review
  src/components/VContentSwitcher/VSearchTypeItem.vue
Due: eslint --fix

Apply changes from code review
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix

Fixes for CI
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,js,vue}
  prettier --write: (any of: .{ts,js,vue,json}) or (any of: *.mdx)
