Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 synced local '.github/ISSUE_TEMPLATE/' with remote '.github/ISSUE_TEMPLATE/'
  .github/ISSUE_TEMPLATE/project_thread.md
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Wrangle incoming JSON data
  src/locales/scripts/separate-download.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/locales/scripts/bulk-download.js
  src/locales/scripts/bulk-download.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Simplify `get-translations.js` and add error handling and fallbacks (#2192)
  src/locales/scripts/bulk-download.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/separate-download.js
  src/locales/scripts/utils.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add skip-to-content links to the homepage and the 404 page
  src/components/VFourOhFour.vue
  src/components/VHomepageContent.vue
  src/layouts/default.vue
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix nodeRef
  src/components/VHomepageContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove `net` and related words from translation in help page
  src/locales/scripts/en.json5
  src/pages/search-help.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reduce area of exception for i18n eslint rule
  src/pages/search-help.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add icon and change fonts for tabs
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
Due: none

Add snapshots
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
Due: none

Add icon and change fonts for tabs
  src/components/VTabs/VTab.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a square filter count to filter button and tab
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VFilterIconOrCounter.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  test/playwright/e2e/filters.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
Due: none

Fix import path
  src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add snapshots
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
Due: none

Add VR test for two-digit filter count
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-two-digits-count-checked-rtl-png-xs-linux.png
  test/tapes/search/audio/q=querywithnoresults&peaks=true_close.json5
  test/tapes/search/images/q=birds&category=photograph_close.json5
  test/tapes/search/images/q=querywithnoresults_close.json5
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add Storybook VR tests for filters button
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VFilterIconOrCounter.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  test/storybook/visual-regression/v-filter-button.spec.ts
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-0-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-0-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-1-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-12-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-0-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-1-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-focused-pressed-12-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-0-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-1-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-hovered-12-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-0-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-0-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-1-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-1-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-12-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-12-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-0-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-0-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-1-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-1-checked-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-12-checked-sm-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-hovered-12-checked-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 synced local '.github/workflows/label_new_pr.yml' with remote '.github/workflows/label_new_pr.yml'
  .github/workflows/label_new_pr.yml
Due: prettier --write

🔄 created local '.github/PULL_REQUEST_TEMPLATE/pull_request_template.md' from remote 'templates/pull_request_template.md.jinja'
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier --write

divider line fix
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

fixed conflict that was resolved uncorectly
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

css fix
  src/components/VFilters/VFilterChecklist.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Monorepo archive notice
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Format README
  README.md
Due: prettier --write

Monorepo archive notice (#2196)
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
