Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Re-add fixed width
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VContentSwitcherOld/VSearchTypesOld.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix search type button outer spacing
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  src/components/VHomepageContent.vue
  src/components/VItemGroup/VItem.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/homepage-old.spec.ts-snapshots/content-switcher-open-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage-old.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage-old.spec.ts-snapshots/content-switcher-open-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xs-linux.png
Due: none

Initial styling improvements
  src/composables/use-match-routes.ts
  src/pages/audio/_id/index.vue
  src/pages/image/_id/report.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Localize strings, cleanup styles
  src/locales/scripts/en.json5
  src/pages/image/_id/report.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Enable new header in staging
  feat/feature-flags.json
Due: prettier --write

Update the cookie sameSite in the unit tests based on flags
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Set flag back to switchable with default of on
  feat/feature-flags.json
Due: prettier --write

Fix the tests
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/migration-banner.spec.ts
  test/playwright/e2e/mobile-menu-old.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/audio-results-old.spec.ts
  test/playwright/visual-regression/components/header-old.spec.ts
  test/playwright/visual-regression/pages/homepage-old.spec.ts
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update feature-flags.json
  feat/feature-flags.json
Due: prettier --write

Reintroduce VLink for single result button
  src/pages/image/_id/report.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Restore src/components/VBackToSearchResultsLink.vue
  src/components/VBackToSearchResultsLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VContentReportForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

created VSafeBrowsing component and some basic template
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VSafeBrowsingFilter/VSafeBrowsingFilter.vue
  src/components/VSafeBrowsingFilter/meta/VSafeBrowsingFilter.stories.mdx
  src/locales/scripts/en.json5
  test/storybook/visual-regression/v-safe-browsing-filter.spec.ts
  test/unit/specs/components/VSafeBrowsingFilter/v-safe-browsing-filter.spec.js
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

created VToggleSwitch component
  src/components/VSafeBrowsingFilter/VSafeBrowsingFilter.vue
  src/components/VToggleSwitch/VToggleSwitch.vue
  src/components/VToggleSwitch/meta/VToggleSwitch.stories.mdx
  test/storybook/visual-regression/v-toggle-switch.spec.ts
  test/unit/specs/components/VToggleSwitch/v-toggle-switch.spec.js
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed some css values to tw class
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

css fix
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add text to en.json
  src/locales/scripts/en.json5
Due: none

removed filtering of mature filter from appliedFilterCount
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add isMatureFilterChecked computed property
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add prop checked and emited enevt to VSafeBrowsingFilter component
  src/components/VSafeBrowsingFilter/VSafeBrowsingFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add props and emited event to VToggleSwitch component
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

update en.json
  src/locales/scripts/en.json5
Due: none

add some styling
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed filterToString to check for enable instead of mature
  src/utils/search-query-transform.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add localized key-value for safe browsing filter category
  src/locales/scripts/en.json5
Due: none

add 'enable' filter to mature category
  src/constants/filters.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed filtering mature category from searchFilters
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

some chnages for VToggleSwitch
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

encapsulated VFilterCheckList with tamplate element to include the sepeartion line
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add description and toggle switch for safe browsing filter
  src/components/VFilters/VFilterChecklist.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed VSafeBrowsingFilter
  src/components/VSafeBrowsingFilter/VSafeBrowsingFilter.vue
  src/components/VSafeBrowsingFilter/meta/VSafeBrowsingFilter.stories.mdx
  test/storybook/visual-regression/v-safe-browsing-filter.spec.ts
  test/unit/specs/components/VSafeBrowsingFilter/v-safe-browsing-filter.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

update story
  src/components/VToggleSwitch/meta/VToggleSwitch.stories.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
