Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update footer to match the new mockups
  src/components/VFooter/VFooter.vue
  src/composables/use-pages.ts
  src/composables/use-resize-observer.ts
  src/locales/scripts/en.json5
  test/locales/ar.json
  test/playwright/utils/breakpoints.ts
  typings/csstype/index.d.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update footer spacings
  src/components/VFooter/VFooter.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VNavLink/VNavLink.vue
  src/components/VNavLink/meta/VNavLink.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
Due: none

Fix the focus area for links
  src/components/VFooter/VFooter.vue
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VHeader/VWordPressLink.vue
  src/components/VNavLink/VNavLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Try fixing flaky tests
  src/layouts/default.vue
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update storybook snapshots
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xs-linux.png
Due: none

Update snapshots
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/sources-ltr-2xl-linux.png
Due: none

Update POT file
  openverse.pot
Due: none

Update README.md
  README.md
Due: prettier --write

Update to use GITHUB_STATE
  .github/workflows/ghcr.yml
Due: prettier --write

Update .github/workflows/ghcr.yml
  .github/workflows/ghcr.yml
Due: prettier --write

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: prettier --write

🔄 Synced local '.github/ISSUE_TEMPLATE/' with remote '.github/ISSUE_TEMPLATE/'
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

🔄 Synced local '.github/PULL_REQUEST_TEMPLATE.md' with remote '.github/PULL_REQUEST_TEMPLATE.md'
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

🔄 Synced local 'prettier.config.js' with remote 'prettier.config.frontend.js.jinja'
  prettier.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.pre-commit-config.yaml' with remote '.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

Refactor dialogs and use popover for internal header
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-dialog-content.ts
  src/composables/use-dialog-control.ts
  src/composables/use-focus-on-show.ts
  src/composables/use-popover-content.ts
  src/composables/use-popper.ts
  src/types/item-group.ts
  src/types/modal.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use useDialogControl for VPopover
  src/components/VPopover/VPopover.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add internal visible ref
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-dialog-content.ts
  src/composables/use-dialog-control.ts
  src/composables/use-popover-content.ts
  src/types/modal.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Ping deployer in staging Slack notification
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Move getting localized search path to the search store
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcherOld/VSearchTypeItemOld.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VFourOhFour.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeaderOld/VHeaderMenu.vue
  src/components/VHeaderOld/VHeaderOld.vue
  src/pages/index.vue
  src/pages/search-help.vue
  src/stores/search.ts
  test/unit/test-utils/pinia.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Re-use getSearchPath to prevent drift
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeaderOld/VHeaderMenu.vue
  src/pages/search-help.vue
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use `github.triggering_actor` instead of `github.actor`
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Set and use `GH_SLACK_USERNAME_MAP` as an environment variable
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Mark `gh-slack-username-map` as required input
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Add secret to `ghcr` and `rollback` workflows
  .github/workflows/ghcr.yml
  .github/workflows/rollback.yml
Due: prettier --write

Try without GitHub's `toJSON` function
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
