Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix popover e2e tests
  test/playwright/e2e/header-internal.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update md pages snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
Due: none

Edit story
  src/components/VHeader/meta/VContentSettingsModal.stories.mdx
Due: prettier --write

Simplify use-dialog-control
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VNavLink/VNavLink.vue
  test/playwright/e2e/header-internal.spec.ts
  test/playwright/visual-regression/components/audio-results-old.spec.ts
  test/playwright/visual-regression/components/header-old.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use popover for screens between sm and lg
  src/components/VHeader/VHeaderInternal.vue
  test/playwright/e2e/header-internal.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Adjust the test
  test/playwright/e2e/header-internal.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update pages snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
Due: none

Make modal black, simplify dark mode in page links
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VModal/VModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update storybook snapshots
  test/storybook/playwright.config.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-resting-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use semibold font for selected VItem
  src/components/VItemGroup/VItem.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update PW snapshots
  src/components/VHeader/VPageLinks.vue
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert snapshot change
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-resting-linux.png
Due: none

Update Playwright
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update snapshots
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-linux.png
Due: none

Update POT file
  openverse.pot
Due: none

added sources and search guide pages to the new header
  src/composables/use-pages.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed line 25 of src/composables/use-pages.ts
  src/composables/use-pages.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
Due: none

Fix lint errors
  src/components/VContentPage.vue
  src/components/VHomeGallery/VHomeGallery.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-2xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-lg-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-2xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-lg-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-xs-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-linux.png
Due: none

Update snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xs-linux.png
Due: none

Rename
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-old-design-rtl-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add Tailwind utilities and plugin for focus rings
  src/styles/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Enable backgrounds in Storybook
  nuxt.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add story and VR tests for focus styles
  .storybook/decorators/with-screenshot-area.js
  nuxt.config.ts
  src/components/meta/Focus.stories.mdx
  test/storybook/visual-regression/focus.spec.ts
  test/storybook/visual-regression/focus.spec.ts-snapshots/focus-bold-filled-linux.png
  test/storybook/visual-regression/focus.spec.ts-snapshots/focus-colored-linux.png
  test/storybook/visual-regression/focus.spec.ts-snapshots/focus-slim-filled-linux.png
  test/storybook/visual-regression/focus.spec.ts-snapshots/focus-slim-transparent-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update audio and image cell to use new focus style
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VAudioTrack/VAudioTrack.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update checkbox component to match WordPress DL
  src/assets/icons/check.svg
  src/components/VCheckbox/VCheckbox.vue
  src/components/VCheckbox/meta/VCheckbox.stories.mdx
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/default-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/disabled-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/focused-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/hover-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/off-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-and-off-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-disabled-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-focused-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Change border to always dark
  src/components/VCheckbox/VCheckbox.vue
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/default-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Enable retries for failing tests
  test/playwright/playwright.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.pre-commit-config.yaml' with remote '.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

🔄 Synced local 'prettier.config.js' with remote 'prettier.config.frontend.js.jinja'
  prettier.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the lock file
  pnpm-lock.yaml
Due: prettier --write

Correctly ignore remake files from prettier
  .pre-commit-config.yaml
  .prettierignore
Due: prettier --write

Linting
  .remake/component-storybook-test/remake-fileName.spec.ts
  .remake/component/remake-name/remake-name.vue
  bin/add-entry-to-tsconfig.js
  src/components/VContentPage.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
