Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Delete SourceSansPro-Bold.woff
  src/assets/fonts/SourceSansPro-Bold.woff
Due: none

Delete SourceSansPro-Bold.woff2
  src/assets/fonts/SourceSansPro-Bold.woff2
Due: none

Delete SourceSansPro-Regular.otf
  src/assets/fonts/SourceSansPro-Regular.otf
Due: none

Delete SourceSansPro-Regular.woff
  src/assets/fonts/SourceSansPro-Regular.woff
Due: none

Delete SourceSansPro-Regular.woff2
  src/assets/fonts/SourceSansPro-Regular.woff2
Due: none

Delete SourceSansPro-SemiBold.otf
  src/assets/fonts/SourceSansPro-SemiBold.otf
Due: none

Delete SourceSansPro-SemiBold.woff
  src/assets/fonts/SourceSansPro-SemiBold.woff
Due: none

Delete SourceSansPro-SemiBold.woff2
  src/assets/fonts/SourceSansPro-SemiBold.woff2
Due: none

Update fonts.css
  src/assets/fonts.css
Due: none

Revert "Delete JetBrainsMono-Regular.woff2"
  src/assets/fonts/JetBrainsMono-Regular.woff2
Due: none

Revert "Delete JetBrainsMono-Regular.woff"
  src/assets/fonts/JetBrainsMono-Regular.woff
Due: none

Revert "Delete JetBrainsMono-Regular.otf"
  src/assets/fonts/JetBrainsMono-Regular.otf
Due: none

Revert "Delete JetBrainsMono-Bold.woff2"
  src/assets/fonts/JetBrainsMono-Bold.woff2
Due: none

Revert "Delete JetBrainsMono-Bold.woff"
  src/assets/fonts/JetBrainsMono-Bold.woff
Due: none

Revert "Delete JetBrainsMono-Bold.otf"
  src/assets/fonts/JetBrainsMono-Bold.otf
Due: none

Revert "Update fonts.css"
  src/assets/fonts.css
Due: none

Media Copy Update
  src/components/VMediaInfo/VMediaReuse.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update en.json
  src/locales/en.json
Due: prettier --write

Update src/components/VMediaInfo/VMediaReuse.vue
  src/components/VMediaInfo/VMediaReuse.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/locales/en.json
  src/locales/en.json
Due: prettier --write

Update snapshots
  test/locales/ar.json
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: prettier --write

Revert changes to CTA
  src/locales/en.json
Due: prettier --write

Update POT file
  openverse.pot
Due: none

updates VLink href from media.url to media.foreign_landing_url
  src/components/VContentReport/VContentReportForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix load more not showing when single media type has no results
  src/components/VImageDetails/VRelatedImages.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VLoadMore.vue
  src/composables/use-load-more.ts
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  src/stores/media/index.ts
  test/unit/specs/stores/media-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Send exception to Sentry instead of throwing
  src/components/VAudioTrack/VAudioTrack.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add description to the home page
  src/locales/en.json
  src/pages/index.vue
  test/locales/ar.json
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Disable content link when result count is zero
  src/components/VContentLink/VContentLink.vue
  test/unit/specs/components/v-content-link.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Flip conditional from noResults to hasResults for readibility
  src/components/VContentLink/VContentLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make logo match the mockups
  src/pages/index.vue
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Clean up styles
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-linux.png
Due: none

Use lg padding values for xl on homepage
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add cache to speed up the Docker build step
  .github/workflows/ghcr.yml
Due: prettier --write

Update styles to match design
  src/components/VContentLink/VContentLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add cursor-not-allowed to vcontent button
  src/components/VContentLink/VContentLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
