Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use smaller button always
  src/components/VNotificationBanner.vue
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: eslint --fix, prettier --write

Slightly increase timeout to prevent flakiness
  src/components/VMigrationNotice.vue
  test/playwright/e2e/migration-banner.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
Due: eslint --fix, prettier --write

Convert useFocusOnShow to TS
  src/composables/use-focus-on-show.ts
Due: eslint --fix, prettier --write

Convert useFocusOnShow to TS
  src/composables/use-focus-on-show.ts
  src/utils/a11y/dom.ts
  src/utils/a11y/focus.ts
Due: eslint --fix, prettier --write

Convert useFocusOnBlur to TS
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-blur.ts
  src/utils/a11y/dom.ts
  src/utils/a11y/get-next-active-element-on-blur.ts
Due: eslint --fix, prettier --write

Convert useEventListenerOutside to TS
  src/composables/use-event-listener-outside.ts
Due: eslint --fix, prettier --write

Convert useFocusOnHide to TS
  src/composables/use-focus-on-hide.js
  src/composables/use-focus-on-hide.ts
  src/utils/a11y/focus.ts
Due: eslint --fix, prettier --write

Convert useHideOnClickOutside to TS
  src/composables/use-hide-on-click-outside.ts
Due: eslint --fix, prettier --write

Update test/playwright/e2e/report-media.spec.ts
  test/playwright/e2e/report-media.spec.ts
Due: eslint --fix, prettier --write

Convert useDialogContent to TS
  src/components/VModal/meta/VModal.stories.js
  src/composables/use-dialog-content.js
  src/composables/use-dialog-content.ts
  src/utils/a11y/get-next-active-element-on-blur.ts
Due: eslint --fix, prettier --write

Fix narrow width audio results
  src/pages/search/audio.vue
  test/playwright/README.md
  test/playwright/utils/breakpoints.ts
  test/playwright/visual-regression/audio-results.spec.ts
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: eslint --fix, prettier --write

Put 3D models behind a feature flag
  feat/feature-flags.json
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix, prettier --write

Fix default value tag
  test/playwright/utils/breakpoints.ts
Due: eslint --fix, prettier --write

Upgrade all warnings to errors that we control
  .eslintrc.js
  .storybook/.eslintrc.js
Due: eslint --fix, prettier --write

Do not allow warnings in lint-staged
  .lintstagedrc
Due: none

Use singular `category` API param
  src/stores/search.ts
  src/utils/search-query-transform.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/tapes/search_images_q=cat&categories=photograph_close.json5
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix, prettier --write

reverted vue-i18n
  package.json
  pnpm-lock.yaml
Due: prettier --write

updated a few more eslint-plugins(dev) and node-html parser(dep)
  package.json
  pnpm-lock.yaml
Due: prettier --write

updated @nuxtjs/svg @nuxtjs/composition-api vue-i18n
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Add tailwind config viewer to GH pages
  .github/workflows/gh-pages.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/stories/Introduction.stories.mdx
Due: prettier --write

Fix testing code
  .github/workflows/gh-pages.yaml
Due: prettier --write

Cleanup test code and use generic workflow title
  .github/workflows/gh-pages.yaml
Due: prettier --write

Add pink border to VSearchButton on group hover
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix, prettier --write

Try adding visual regression tests
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots.ts
Due: eslint --fix, prettier --write

Add hover
  test/playwright/visual-regression/header-searchbar.spec.ts
Due: eslint --fix, prettier --write

Add snapshots
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-ltr-xs-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/hovered-search-rtl-xs-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-ltr-xs-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-lg-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-md-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-sm-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-xl-linux.png
  test/playwright/visual-regression/header-searchbar.spec.ts-snapshots/unfocused-search-rtl-xs-linux.png
Due: none

Test visual regression tests :)
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix, prettier --write

Revert "Test visual regression tests :)"
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix, prettier --write

Only show audio category if available
  src/components/VAudioTrack/layouts/VBoxLayout.vue
Due: eslint --fix, prettier --write

Add missing test tapes
  test/tapes/related_audio_2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/related_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/response-239.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
Due: none

Use v-show instead of hidden class
  src/components/VAudioTrack/layouts/VRowLayout.vue
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
Due: eslint --fix, prettier --write

WIP
  src/components/SketchFabViewer.vue
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageResult.vue
  src/components/VModal/VModal.vue
  src/pages/image/_id.vue
  src/pages/search.vue
  src/stores/media/single-result.ts
Due: eslint --fix, prettier --write

Support for additional content types
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VSearchGrid.vue
  src/composables/use-search-type.js
  src/constants/media.ts
  src/pages/search.vue
  src/stores/media/index.ts
  src/utils/prop-validators.ts
Due: eslint --fix, prettier --write

Add pot file
  src/locales/po-files/openverse.pot
Due: none

Add 3d-model page and rename from 3d_model
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VMetaSearch/meta/VMetaSourceList.stories.mdx
  src/constants/media.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search/model-3d.vue
  src/utils/get-additional-sources.ts
  src/utils/search-query-transform.ts
Due: eslint --fix, prettier --write

Add missing testing tapes
  test/tapes/related_audio_2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/response-240.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_37a028d5-4110-47b5-8181-e2087254ec46_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_71be3bb7-fcde-4284-a113-b051a61d6e16_keep-alive.json5
  test/tapes/thumb_audio_7b1f2f67-d125-4551-abc6-a92e1dc86327_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_c0371485-7a83-422f-80a8-415b661a24f8_keep-alive.json5
  test/tapes/thumb_audio_cd1c7a96-1cfb-4378-b4e0-920799da921b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cbf9ee79-f76c-4993-986f-5dac48b52d97_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
Due: none

Set the search term and the search type when user is on the unsupported search type
  src/components/VHeader/VHeader.vue
  src/composables/use-match-routes.js
Due: eslint --fix, prettier --write

Add tests
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  test/unit/specs/components/AudioTrack/v-box-layout.spec.js
Due: eslint --fix, prettier --write

Replace download button with foreign landing button
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VDownloadButton.vue
  src/components/VDropdownButton.vue
  src/components/meta/VDownloadButton.stories.js
  src/components/meta/VDropdownButton.stories.js
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/v-download-button.spec.js
  test/unit/specs/components/v-dropdown-button.spec.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,vue}
  prettier --write: any of: *.{ts,js,vue,json,yml,yaml,mdx,md}
