Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Initialize dismissed banners from cookies
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Simplify "Back to results" link and align with mockups
  src/components/VBackToSearchResultsLink.vue
  src/components/meta/VBackToSearchResultsLink.stories.mdx
  src/locales/scripts/en.json5
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use white background, but only with the new header
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix unit test failure
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update text in "Back to results" link
  test/playwright/e2e/image-detail.spec.ts
  test/playwright/e2e/search-navigation-old.spec.ts
  test/playwright/e2e/search-navigation.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.github/subscribe-to-label.json' with remote '.github/subscribe-to-label.json'
  .github/subscribe-to-label.json
Due: prettier --write

Update POT file
  openverse.pot
Due: none

add comment-json package to parse json files with comments
  package.json
  pnpm-lock.yaml
Due: prettier --write

typo
  package.json
Due: prettier --write

add script for adding component name to tsconfig.ts include property
  add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

comment-json removes new lines spaces when stringifing back to json
  tsconfig.json
Due: prettier --write

removed semicolon
  .remake/component-unit-test/remake-fileName.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed argument from command
  package.json
Due: prettier --write

Add updated audio-results-old snapshots
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: none

Add updated non-existent page snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xs-linux.png
Due: none

Fix filters sidebar regression after merge
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add updated header-old snapshots
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-ltr-md-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-rtl-md-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/filters-open-rtl-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-rtl-md-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/resting-rtl-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-rtl-md-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/scrolled-rtl-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-rtl-md-linux.png
  test/playwright/visual-regression/components/header-old.spec.ts-snapshots/searchbar-hovered-rtl-xl-linux.png
Due: none

Refactor z-index usages including allowing strings as values
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popper.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Define z-indices in a constants file
  src/constants/z-indices.js
  tailwind.config.js
  tailwind.safelist.txt
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make `SCREEN_SIZES` a `Record` instead of a `Map`
  src/components/VFooter/VFooter.vue
  src/composables/use-media-query.ts
  src/constants/screens.js
  tailwind.config.js
  test/playwright/utils/navigation.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Flip back icon in RTL locales
  src/components/VBackToSearchResultsLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reverse Tailwind screens
  src/constants/screens.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use `t` instead of hardcoded string
  bin/playwright.sh
  test/playwright/e2e/image-detail.spec.ts
  test/playwright/e2e/search-navigation-old.spec.ts
  test/playwright/e2e/search-navigation.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add updated header snapshots
  src/components/VHeader/VHeaderDesktop.vue
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

language props - variant removed due to redundancy
  src/components/VFourOhFour.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Updated the URL for Get involved link in the navbar
  src/composables/use-pages.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove horizontal padding and the need for negative margin
  src/layouts/default.vue
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

fix
  .pre-commit-config.yaml
Due: prettier --write

add component file extension
  add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

splited commands
  .remake/story/remake-name.stories.mdx
  package.json
Due: prettier --write

add documentation
  README.md
Due: prettier --write

edit how to create component section
  README.md
Due: prettier --write

reverted changes in pre-commit-config
  .pre-commit-config.yaml
Due: prettier --write

add .remake to pre-commit eslint exclude file list
  .pre-commit-config.yaml
Due: prettier --write
