Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

Remove unused function
  src/constants/screens.js
Due: eslint --fix --max-warnings=0, prettier --write

Only hide logo text on search; update snapshots
  src/components/VHeader/VLogoButton.vue
Due: eslint --fix --max-warnings=0, prettier --write

Fix isMinScreen return signature
  src/composables/use-media-query.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update snapshots with fixed header
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-ltr-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-rtl-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-ltr-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-rtl-xs-linux.png
Due: none

Add unit tests for CopyButton and Tabs
  src/components/VTabs/VTabs.vue
  test/unit/specs/components/v-copy-button.spec.js
  test/unit/specs/components/v-tabs.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

Update src/utils/focus-management.ts
  src/utils/focus-management.ts
Due: eslint --fix --max-warnings=0, prettier --write

Apply suggestions from code review
  src/components/VTabs/VTab.vue
  src/utils/dom.ts
  src/utils/focus-management.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add POT file
  src/locales/po-files/openverse.pot
Due: none

Add breakpoint based modal variations
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Remove mobile modal content
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VPageMenu/VMobilePageMenu.vue
  src/components/VModal/VMobileModalContent.vue
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Remove unused import
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Add comment explaining complex margin/padding values
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Fix default initial focus element
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Scroll the full modal rather than just the body
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Fix modal widths
  src/components/VModal/VModalContent.vue
Due: eslint --fix --max-warnings=0, prettier --write

Update visual regression tests
  test/playwright/utils/breakpoints.ts
  test/playwright/visual-regression/media-reuse.spec.ts
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-2xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-md-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xl-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: eslint --fix --max-warnings=0, prettier --write

Remove unrelated changes
  package.json
  src/constants/key-codes.ts
Due: eslint --fix --max-warnings=0, prettier --write

Use the full {number} Filters label for aria
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix --max-warnings=0, prettier --write

Revert changes to thumb tapes
  test/tapes/thumb_audio_1a694d77-dc46-49ec-a973-db72f081fe9e_keep-alive.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_64fc8595-94a6-46b9-850d-a663e65d6c8d_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_c0296e88-b198-43bc-837d-a41d52d2dd45_keep-alive.json5
  test/tapes/thumb_audio_da0f7a22-94f6-43bc-976a-80b2d5264bcd_keep-alive.json5
  test/tapes/thumb_audio_dd0aa28c-dc91-481f-8bd4-5fcb88d6b95d_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_audio_fc86f01e-39fd-43fc-a7bf-37cb31279d35_keep-alive.json5
  test/tapes/thumb_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive_HEAD.json5
  test/tapes/thumb_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/thumb_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/thumb_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive_HEAD.json5
  test/tapes/thumb_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  test/tapes/thumb_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive_HEAD.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Remove unnecessary check for tabContext not being undefined
  src/components/VTabs/VTab.vue
Due: eslint --fix --max-warnings=0, prettier --write

Use correct plain tab snapshot
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
Due: none

Revert unrelated changes
  test/tapes/response-236.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Revert unrelated changes
  test/tapes/response-236.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_37a028d5-4110-47b5-8181-e2087254ec46_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_71be3bb7-fcde-4284-a113-b051a61d6e16_keep-alive.json5
  test/tapes/thumb_audio_7b1f2f67-d125-4551-abc6-a92e1dc86327_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_c0371485-7a83-422f-80a8-415b661a24f8_keep-alive.json5
  test/tapes/thumb_audio_cd1c7a96-1cfb-4378-b4e0-920799da921b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cbf9ee79-f76c-4993-986f-5dac48b52d97_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
Due: none

Stop setting audio duration when it's NaN
  src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: eslint --fix --max-warnings=0, prettier --write

Remove z-index from BackToSearchResultsLink
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, prettier --write

Simplify Clipboard import
  src/components/VCopyButton.vue
Due: eslint --fix --max-warnings=0, prettier --write

Document emits
  src/components/VCopyButton.vue
  src/components/VTabs/VTabs.vue
Due: eslint --fix --max-warnings=0, prettier --write

Apply changes from code review
  src/utils/focus-management.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add a check for NaN in audio duration
  src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: eslint --fix --max-warnings=0, prettier --write

Add defineEvent emit documentation helper
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VInputField/VInputField.vue
  src/components/VNotificationBanner.vue
  src/types/emits.ts
Due: eslint --fix --max-warnings=0, prettier --write

Remove thumb tape changes
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: eslint --fix --max-warnings=0, prettier --write

Add bundle size reporting to PRs
  .github/workflows/bundle_size.yml
Due: prettier --write

Remove flag `models_3d` to keep implementation and use separate
  feat/feature-flags.json
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix --max-warnings=0, prettier --write

Fix dist path
  .github/workflows/bundle_size.yml
Due: prettier --write

Fix dangling issues
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/composables/use-event-listener.ts
Due: eslint --fix --max-warnings=0, prettier --write

Check all dist files and add chunk names
  .github/workflows/bundle_size.yml
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update POT
  .lintstagedrc
  src/locales/po-files/openverse.pot
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  prettier --write: any of: *.{ts,js,vue,json,yml,yaml,mdx,md}
