Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

added span to VLink.vue and aria-new-tab to en.json5
  src/components/VLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix linting error in en.json5
  src/locales/scripts/en.json5
Due: none

Move the screen reader text to the end of the link
  src/components/VLink.vue
  src/locales/scripts/en.json5
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
  test/unit/specs/components/v-button.spec.js
  test/unit/specs/components/v-link.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use the VLink's external link icon
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VLink.vue
  src/components/VSourcesTable.vue
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Increase gap in the Content report button
  src/components/VContentReport/VContentReportForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update content report snapshots
  test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
Due: none

Smaller gap
  src/components/VContentReport/VContentReportForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove flex when there's no icon
  src/components/VLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add icon to the sources button
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Enable new header in staging
  feat/feature-flags.json
Due: prettier --write

put sensetive content filter under toggle_sensetive_content feature flag
  feat/feature-flags.json
  src/components/VFilters/VSearchGridFilter.vue
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Tighten the condition for audio playback to continue across pages
  src/components/VAudioTrack/VAudioTrack.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Mock router usage in tests
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove ring offset to reduce ring thickness
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add check if toggle_sensetive_content is enabled
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Create unit test for VToggleSwitch component
  test/unit/specs/components/VToggleSwitch/v-toggle-switch.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add string lable to toggle switch story book
  src/components/VToggleSwitch/meta/VToggleSwitch.stories.mdx
Due: prettier --write

Add visual regression test for VToggleSwitch
  test/storybook/visual-regression/v-toggle-switch.spec.ts
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/default-linux.png
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/on-and-off-linux.png
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/on-linux.png
  test/unit/specs/components/VToggleSwitch/v-toggle-switch.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add + 1 to the amount of filters for each search type
  test/playwright/e2e/filters-old.spec.ts
  test/playwright/e2e/filters.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix scrolling header by using min-height
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

enable new header everywhere
  feat/feature-flags.json
Due: prettier --write

Update breakpoint to match the new header designs
  src/pages/search.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update `md` breakpoint snapshots
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-md-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-md-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-md-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-md-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-md-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-md-linux.png
Due: none

Make search page layout test less flaky
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Split the layouts to fix height and scrolling
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/layouts/content-layout.vue
  src/layouts/default.vue
  src/pages/about.vue
  src/pages/audio/_id/index.vue
  src/pages/external-sources.vue
  src/pages/feedback.vue
  src/pages/image/_id/index.vue
  src/pages/preferences.vue
  src/pages/privacy.vue
  src/pages/search-help.vue
  src/pages/search.vue
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update babel-related dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix links on the Search help page
  src/locales/scripts/en.json5
  src/pages/search-help.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
Due: none

removed a deleted component from tsconfig.json
  tsconfig.json
Due: prettier --write
