Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Do not submit if the input value is blank
  src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Enable watch mode for English translations
  package.json
  pnpm-lock.yaml
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Document the use of watch mode
  README.md
Due: prettier --write

Add layout properties to the UI store
  src/composables/use-cookies.ts
  src/middleware/middleware.ts
  src/stores/ui.ts
  test/unit/specs/components/related-audios.spec.js
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add `updateCookie` and cookieOptions
  src/composables/use-cookies.ts
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove constants
  src/stores/ui.ts
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Refactor cookies handling
  src/composables/use-browser-detection.ts
  src/composables/use-cookies.ts
  src/composables/use-layout.ts
  src/composables/use-media-query.ts
  src/middleware/middleware.ts
  src/plugins/ua-parse.ts
  src/stores/ui.ts
  src/types/cookies.ts
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove the need to pass CookieSetter for updating the UI state
  src/composables/use-layout.ts
  src/composables/use-ui-state.ts
  src/stores/ui.ts
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Wrap UI state changes into a composable to remove the need for cookies setter
  src/composables/use-layout.ts
  src/composables/use-ui-state.ts
  src/stores/ui.ts
  test/unit/specs/composables/use-ui-state.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Setup `en.json` during prepare step
  .github/actions/setup-node-env/action.yml
  package.json
Due: prettier --write

add remake package
  package.json
  pnpm-lock.yaml
Due: prettier --write

add remake folder, component template file and stories template file
  .pre-commit-config.yaml
  .remake/component/remake-name/meta/remake-name.stories.mdx
  .remake/component/remake-name/remake-name.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

reverted changes done in .pre-commit-config
  .pre-commit-config.yaml
Due: prettier --write

add command for creating component storybook test file
  package.json
Due: prettier --write

changed story name to default
  .remake/component/remake-name/meta/remake-name.stories.mdx
Due: prettier --write

add component story book test template file & skip linting this file
  .pre-commit-config.yaml
  .remake/component-storybook-test/remake-name.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VFooter Storybook VR tests
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/navigation.ts
  test/storybook/visual-regression/v-footer.spec.ts
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xs-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-2xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-lg-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-sm-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xl-linux.png
  test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VR tests for the mobile search header
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Add layout properties to the UI store Create use-cookies composable Move all the UI cookie updates to the UI store Add cookieOptions
  src/composables/use-browser-detection.ts
  src/composables/use-cookies.ts
  src/composables/use-layout.ts
  src/composables/use-media-query.ts
  src/middleware/middleware.ts
  src/plugins/ua-parse.ts
  src/stores/ui.ts
  src/types/cookies.ts
  test/unit/specs/components/related-audios.spec.js
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove unnecessary ref in useMediaQuery
  src/composables/use-media-query.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove use-cookies composable
  src/composables/use-cookies.ts
  src/composables/use-layout.ts
  src/stores/ui.ts
  src/types/cookies.ts
  test/unit/specs/stores/ui-store.spec.js
  test/unit/test-utils/pinia.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add types
  src/middleware/middleware.ts
  src/pages/preferences.vue
  src/stores/ui.ts
  test/unit/test-utils/pinia.js
  typings/nuxt__types/index.d.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Try fixing linting error
  .pre-commit-config.yaml
Due: prettier --write

Replace the border color in the LanguageSelect #1970
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use Babel to parse JSON5 instead of hack parser
  package.json
  pnpm-lock.yaml
  src/locales/scripts/read-i18n.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

border classes moved to static class and variants prop was removed #1970 #1972
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed file name of component story book test template
  .remake/component-storybook-test/remake-fileName.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add unit test template for component & add command to package.json
  .pre-commit-config.yaml
  .remake/component-unit-test/remake-fileName.spec.js
  package.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed commands names
  package.json
Due: prettier --write

Improve filter sidebar rendering performance
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeaderOld/VHeaderFilter.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use cookie value for translation and migration banner state
  src/components/VNotificationBanner.vue
  src/components/VTranslationStatusBanner.vue
  src/stores/ui.ts
  src/types/cookies.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Changes after merge
  src/middleware/middleware.ts
  src/stores/ui.ts
  src/types/cookies.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
