Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix"
  ],
  ".{ts,js,vue,json}": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Refactor filter initalization and use ts
  src/components/VFilters/VSearchGridFilter.vue
  src/constants/filters.ts
  src/store/search.js
  src/utils/format-strings.ts
  src/utils/search-query-transform.js
  test/tapes/response-49.json5
  test/unit/specs/store/search-store.spec.js
  test/unit/specs/utils/search-query-transform.spec.js
  tsconfig.json
Due: eslint --fix

Extract filter store from the search store
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/constants/mutation-types.js
  src/constants/store-modules.js
  src/locales/po-files/openverse.pot
  src/store/provider.js
  src/store/search.js
  src/store/types.ts
  src/stores/filter.js
  test/e2e/filters.spec.js
  test/e2e/search-query-server.spec.js
  test/e2e/search-types.spec.js
  test/e2e/utils.js
  test/tapes/response-50.json5
  test/tapes/response-51.json5
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  test/unit/specs/components/filter-checklist.spec.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
  test/unit/specs/store/filter-store.spec.js
  test/unit/specs/store/provider.spec.js
  test/unit/specs/store/search-store.spec.js
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix

Convert search store to Pinia
  .eslintrc.js
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VFourOhFour.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderMenu.vue
  src/composables/use-search-type.js
  src/constants/store-modules.js
  src/locales/po-files/openverse.pot
  src/pages/index.vue
  src/pages/search.vue
  src/store/media.js
  src/store/provider.js
  src/store/search.js
  src/store/types.ts
  src/stores/search.js
  test/unit/specs/components/search-grid-filter.spec.js
  test/unit/specs/pages/browse-page.spec.js
  test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/search-store.spec.js
Due: eslint --fix

Add the missing tape that causes e2e errors
  test/tapes/response-49.json5
Due: none

Use `VButton` instead of `VLink` and drop use of Bulma classes
  src/components/VMetaSearch/VMetaSourceList.vue
Due: eslint --fix

Create the two-pane error section
  src/components/VErrorImage/VErrorSection.vue
Due: eslint --fix

Create the error contents component
  src/components/VErrorImage/VNoResults.vue
  src/components/VErrorImage/VServerTimeout.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Write stories for usage of error pages
  src/components/VErrorImage/meta/VErrorImage.stories.mdx
  src/components/VErrorImage/meta/VErrorSection.stories.mdx
Due: prettier --write

Use conventional names for booleans
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VSearchGrid.vue
Due: eslint --fix

Show no-results error when not fetching and no results
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VSearchGrid.vue
Due: eslint --fix

Fix typo where "due to" is typed twice
  .eslintrc.js
Due: eslint --fix

Use existing script `lint` for `lintfix`
  package.json
Due: none

Verify that error appears when no results
  test/e2e/search.spec.js
Due: eslint --fix

Apply changes from the code review
  src/constants/filters.ts
  src/store/search.js
  test/tapes/response-49.json5
Due: eslint --fix

declared userAgentType and other values as string
  src/plugins/ua-parse.js
Due: eslint --fix

eslint warning (1)
  src/plugins/ua-parse.js
Due: eslint --fix

eslint warning (2)
  src/plugins/ua-parse.js
Due: eslint --fix

eslint warning (3)
  src/plugins/ua-parse.js
Due: eslint --fix

setting ua to null before passing downstream
  src/plugins/ua-parse.js
Due: eslint --fix

possible approach (1)
  src/plugins/ua-parse.js
Due: eslint --fix

add group class to audio track
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix

lint warning (4)
  src/plugins/ua-parse.js
Due: eslint --fix

lint warning (5)
  src/plugins/ua-parse.js
Due: eslint --fix

Apply changes from the code review
  src/constants/filters.ts
  src/store/types.ts
  tsconfig.json
Due: eslint --fix

Add `rel` and `target` to `<a>` tags
  src/utils/attribution-html.js
Due: eslint --fix

Improve meta search text
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Add missing quotes around props
  src/components/VErrorImage/meta/VErrorSection.stories.mdx
Due: prettier --write

Add explanation for the error constants
  src/constants/errors.js
Due: eslint --fix

Rename folder to refer to the section instead of the image
  src/components/VErrorSection/VErrorImage.vue
  src/components/VErrorSection/VErrorSection.vue
  src/components/VErrorSection/VNoResults.vue
  src/components/VErrorSection/VServerTimeout.vue
  src/components/VErrorSection/meta/VErrorSection.stories.mdx
  src/components/VSearchGrid.vue
Due: eslint --fix, prettier --write

Update PO files as directory was renamed
  src/locales/po-files/openverse.pot
Due: none

Replace invalid tag `@variants` with `@values`
  src/components/VItemGroup/VItem.vue
Due: eslint --fix

Expand defined tags to include `@template`
  .eslintrc.js
Due: eslint --fix

Autocorrect errors
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VSkeleton/VGridSkeleton.vue
  src/composables/use-active-audio.js
  src/composables/use-event-listener.js
  src/composables/use-get-locale-formatted-number.js
  src/composables/use-pages.js
  src/constants/screens.js
  src/data/media-provider-service.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/jed1x-json-to-json.js
  src/locales/scripts/json-helpers.js
  src/locales/scripts/json-pot-helpers.js
  src/locales/scripts/ngx-json-to-json.js
  src/plugins/ua-parse.js
  src/plugins/vue-i18n.js
  src/server-middleware/healthcheck.js
  src/store/media.js
  src/store/search.js
  src/store/usage-data.js
  src/utils/attribution-html.js
  src/utils/decode-media-data.js
  src/utils/get-legacy-source-url.js
  src/utils/get-parameter-by-name.js
  src/utils/get-provider-name.js
  src/utils/license.js
  src/utils/load-script.js
  src/utils/local.js
  src/utils/math.js
  src/utils/prepare-search-query-params.js
  src/utils/prng.js
  src/utils/send-message.js
  src/utils/srand.js
  test/e2e/utils.js
Due: eslint --fix

Add outdated PO file
  src/locales/po-files/openverse.pot
Due: none

Convert `prng` to TypeScript
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/utils/prng.ts
Due: eslint --fix

Remove redundant PRNG
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/utils/srand.js
Due: eslint --fix

Change `send-message` util to TypeScript
  src/utils/send-message.js
  src/utils/send-message.ts
Due: eslint --fix

Convert usageDataStore to an options Pinia store
  src/components/CopyButton.vue
  src/components/ImageDetails/ReuseSurvey.vue
  src/components/VMediaInfo/VCopyLicense.vue
  src/constants/store-modules.js
  src/pages/image/_id.vue
  src/store/media.js
  src/store/usage-data.js
  src/stores/usage-data.js
  src/utils/sentry-config.ts
  test/unit/specs/components/ImageDetails/reuse-survey.spec.js
  test/unit/specs/components/ImageDetails/v-copy-license.spec.js
  test/unit/specs/store/media-store.spec.js
  test/unit/specs/store/usage-data-store.spec.js
Due: eslint --fix
