Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add focus state
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed unused css
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

focusing toggle switch when focused with the Tab key
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Css fix
  src/components/VToggleSwitch/VToggleSwitch.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update visual regression test
  src/components/VToggleSwitch/meta/VToggleSwitch.stories.mdx
  test/storybook/visual-regression/v-toggle-switch.spec.ts
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/default-linux.png
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/focused-linux.png
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/on-and-off-linux.png
  test/storybook/visual-regression/v-toggle-switch.spec.ts-snapshots/on-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
Due: none

Add skip-to-container links to index, 404 and content pages
  src/components/VContentPage.vue
  src/components/VFourOhFour.vue
  src/layouts/content-layout.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add skip-to-content link to single result pages
  src/pages/audio/_id/index.vue
  src/pages/image/_id/index.vue
  src/pages/image/_id/report.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Audit `main` elements; make VSkipToContentContainer `main` or `div`
  src/components/VContentPage.vue
  src/components/VErrorSection/VErrorSection.vue
  src/components/VSearchGrid.vue
  src/components/VSkipToContentContainer.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reduce content-layout element count
  src/layouts/content-layout.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make the content styles match mockups
  src/components/VContentPage.vue
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Use h1 for the main heading on the homepage
  src/components/VHomepageContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Update src/locales/scripts/get-translations.js
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reduce GlotPress limit further
  src/locales/scripts/axios.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use aria-label for WordPress affiliation link
  src/components/VHeader/VWordPressLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Organise `.gitignore` for i18n files
  .gitignore
Due: none

Install `adm-zip` and `qs` for bulk translation download
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add bulk downloading functionality
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove redundant file
  src/locales/scripts/locales-list.json
Due: prettier --write

Revrted changes in filters.spec.ts
  test/playwright/e2e/filters-old.spec.ts
  test/playwright/e2e/filters.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

fix
  test/playwright/e2e/filters.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make the sidebar appear after the header in the DOM
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VImageGrid/VImageGrid.vue
  src/composables/use-focus-filters.ts
  src/layouts/content-layout.vue
  src/pages/search.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add e2e test
  src/layouts/content-layout.vue
  test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  test/playwright/e2e/header-internal.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Move i18n step outside the container
  .github/workflows/ghcr.yml
  Dockerfile
Due: prettier --write

Use login password instead of app password
  .github/workflows/ghcr.yml
Due: prettier --write

Fix step name
  .github/workflows/ghcr.yml
Due: prettier --write

Add a directive for translators to not translate Netherlands
  src/locales/scripts/en.json5
Due: none

Add skip to content link to the Single result pages
  src/components/VSkipToContentContainer.vue
  src/pages/audio/_id/index.vue
  src/pages/image/_id/index.vue
  src/pages/image/_id/report.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove extra `main` from the default layout
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove extra `main` from the default layout
  src/layouts/default.vue
  src/pages/image/_id/index.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Break down the complex file into smaller pieces and add error handling
  src/locales/scripts/bulk-download.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/separate-download.js
  src/locales/scripts/utils.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
