Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Format with prettier
  renovate.json
Due: none

Apply changes from code review
  src/composables/use-fetch-state.ts
  src/data/media-service.ts
Due: eslint --fix

Add configuration for Renovate
  .github/renovate.json
  renovate.json
Due: none

pot file added
  src/locales/po-files/openverse.pot
Due: none

Fix bordered conditional classes in VSearchTypes
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix

Update pot file
  src/locales/po-files/openverse.pot
Due: none

remove locale choser strings from en.json
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

'updated-version'
  package.json
Due: none

Fix beta pill alignment
  src/components/VContentSwitcher/VSearchTypeItem.vue
Due: eslint --fix

Fix mobile width of Search types
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix

Fix focus styles of `VSearchTypePopover` in homepage
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VItemGroup/VItem.vue
Due: eslint --fix

Update the pot file
  src/locales/po-files/openverse.pot
Due: none

🔄 Synced local '.github/ISSUE_TEMPLATE/' with remote '.github/ISSUE_TEMPLATE/'
  .github/ISSUE_TEMPLATE/discussion.md
Due: none

updated VAllResultsGrid
  src/components/VAllResultsGrid/VAllResultsGrid.vue
Due: eslint --fix

pot file
  src/locales/po-files/openverse.pot
Due: none

Update `VIcon` and `VButton` to TypeScript
  src/components/VButton.vue
  src/components/VIcon/VIcon.vue
  tsconfig.json
Due: eslint --fix

Add `MODELS_3D` media type
  src/constants/filters.ts
  src/constants/media.ts
Due: eslint --fix

Refactor, TS-ify and add sources for 3D models
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VMetaSearch/VMetaSourceList.vue
  src/utils/get-additional-sources.ts
  src/utils/get-legacy-source-url.js
  test/unit/specs/utils/get-additional-sources.spec.ts
  test/unit/specs/utils/get-legacy-source-url.spec.js
  tsconfig.json
Due: eslint --fix

Eliminate code duplication using content-type-groups
  src/components/VContentSwitcher/VSearchTypes.vue
Due: eslint --fix

Use the singular form of the media type
  src/constants/filters.ts
  src/constants/media.ts
  src/utils/get-additional-sources.ts
  test/unit/specs/utils/get-additional-sources.spec.ts
Due: eslint --fix

Prevent merge conflicts with #1203
  src/constants/media.ts
Due: eslint --fix

Update POT files
  src/locales/po-files/openverse.pot
Due: none

Renamed Meta search to additional sources
  package-lock.json
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/composables/use-pages.js
  src/constants/media.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/about.vue
  src/pages/meta-search.vue
  src/utils/get-legacy-source-url.js
  test/playwright/e2e/search-types.spec.ts
Due: eslint --fix

Updated POT File added
  src/locales/po-files/openverse.pot
Due: none

Resolve conflicts between 3D models PRs (#1204)
  src/components/VContentSwitcher/VSearchTypes.vue
  src/constants/media.ts
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix translations
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix

Add documentation and write stories
  src/components/VMetaSearch/VMetaSourceList.vue
  src/components/VMetaSearch/meta/VMetaSourceList.stories.mdx
Due: eslint --fix, prettier --write

Update src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VAllResultsGrid/VAllResultsGrid.vue
Due: eslint --fix

recommited pot file
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix CI problems
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix

Fix a typo in the `mkcert` tool name
  README.md
Due: none

Move port up by 1 because Apple uses it for `remotepairingdeviced`
  test/playwright/e2e/filters.spec.ts
  test/playwright/playwright.config.ts
  test/proxy.js
  test/tapes/detail_images_53841492-9703-4892-96b4-10297dd84ed0_keep-alive.json5
  test/tapes/detail_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/detail_images_e9d97a98-621b-4ec2-bf70-f47a74380452_close.json5
  test/tapes/detail_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/related_images_53841492-9703-4892-96b4-10297dd84ed0_keep-alive.json5
  test/tapes/related_images_e9d97a98-621b-4ec2-bf70-f47a74380452_close.json5
  test/tapes/related_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/related_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/search_audio_q=birds_close.json5
  test/tapes/search_audio_q=birds_keep-alive.json5
  test/tapes/search_audio_q=cat&license=cc0_keep-alive.json5
  test/tapes/search_audio_q=cat&license_type=commercial_close.json5
  test/tapes/search_audio_q=cat_close.json5
  test/tapes/search_audio_q=cat_keep-alive.json5
  test/tapes/search_audio_q=galah&license_type=modification_keep-alive.json5
  test/tapes/search_audio_q=galah_close.json5
  test/tapes/search_audio_q=galah_keep-alive.json5
  test/tapes/search_images_extension=jpg_close.json5
  test/tapes/search_images_license_type=commercial&license=cc0&searchBy=creator&creator=cat_close.json5
  test/tapes/search_images_license_type=commercial&license=cc0&searchBy=creator&creator=cat_keep-alive.json5
  test/tapes/search_images_q=birds_close.json5
  test/tapes/search_images_q=birds_keep-alive.json5
  test/tapes/search_images_q=cat&aspect_ratio=tall_close.json5
  test/tapes/search_images_q=cat&categories=photograph_close.json5
  test/tapes/search_images_q=cat&license=by&extension=jpg_close.json5
  test/tapes/search_images_q=cat&license=cc0&aspect_ratio=tall_close.json5
  test/tapes/search_images_q=cat&license=cc0_keep-alive.json5
  test/tapes/search_images_q=cat_close.json5
  test/tapes/search_images_q=cat_keep-alive.json5
  test/tapes/search_images_q=dog&license=by&extension=jpg_keep-alive.json5
  test/tapes/search_images_q=dog_keep-alive.json5
  test/tapes/search_images_q=galah&license_type=modification_keep-alive.json5
  test/tapes/search_images_q=galah_close.json5
  test/tapes/search_images_q=galah_keep-alive.json5
  test/tapes/search_images_q=honey_close.json5
Due: eslint --fix

Clean up package scripts
  package.json
Due: none

Update all usages of `package.json` scripts
  .github/actions/setup-node-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
  .husky/pre-push
  Dockerfile
  README.md
  bin/playwright.sh
  test/playwright/README.md
Due: none

Re-add `prod` script to fix Playwright tests
  package.json
Due: none

Fix icon of DropdownButton
  src/assets/icons/caret-down.svg
  src/components/DropdownButton.vue
Due: eslint --fix

Rename DropdownButton with prefix
  src/components/DownloadButton.vue
  src/components/VDropdownButton.vue
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/v-dropdown-button.spec.js
Due: eslint --fix

Rename DownloadButton with prefix
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VDownloadButton.vue
  src/components/VDropdownButton.vue
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/v-download-button.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,js,vue}
  prettier --write: (any of: .{ts,js,vue,json}) or (any of: *.mdx)
