Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Avoid relative imports
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix class order
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Ensure that the `nativeName` field is always populated
  nuxt.config.ts
  src/components/VLanguageSelect/VLanguageSelect.vue
  src/locales/scripts/get-validated-locales.js
  typings/nuxt__types/index.d.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add native names for test languages
  test/locales/scripts/valid-locales.json
Due: prettier --write

Update snapshot
  test/storybook/visual-regression/v-language-select.spec.ts-snapshots/vlanguageselect-default-linux.png
Due: none

Extract VHomeLink and VPageLinks
  src/components/VFooter/VFooter.vue
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VHomeLink.vue
  src/components/VHeader/VPageLinks.vue
  src/composables/use-pages.ts
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix header horizontal padding
  src/components/VHeader/VPageLinks.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add recent searches to the search store
  src/stores/search.ts
  src/utils/env.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix padding
  src/components/VHeader/VPageLinks.vue
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-md-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-xs-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-rtl-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-md-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-ltr-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-ltr-xs-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-modal-rtl-xs-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-rtl-sm-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-rtl-xs-linux.png
Due: none

Update button variants
  src/components/VButton.vue
  src/components/VContentReport/VContentReportButton.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypeRadio.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/VContentSwitcherOld/VSearchTypePopoverOld.vue
  src/components/VCopyButton.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeaderOld/VFilterButtonOld.vue
  src/components/VHeaderOld/VPageMenu/VPageMenuButton.vue
  src/components/VMetaSearch/VMetaSourceList.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tests
  src/components/meta/VButton.stories.mdx
  test/storybook/visual-regression/v-button.spec.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-inner-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/full-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-pressed-hovered-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xs-linux.png
Due: none

Update src/stores/search.ts
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Set behind feature flag, enabled by default in development
  feat/feature-flags.json
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Rename meta search components
  src/components/VErrorSection/VNoResults.vue
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VExternalSearch/meta/VExternalSourceList.stories.mdx
  src/components/VSearchGrid.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add unit tests
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

fix super annoying bug
  src/pages/search.vue
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix modal not unlocking on change from sm to md
  src/components/VHeader/VHeaderInternal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix focus ring
  src/components/VHeader/VHeaderInternal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make the action-menu buttons match the mockups
  src/components/VButton.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/meta/VButton.stories.mdx
  src/types/button.ts
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-inner-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-inner-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-inner-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-inner-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-pressed-hovered-linux.png
Due: none

Make action-menu-bordered match the mockups
  src/components/VButton.vue
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-pressed-hovered-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

String and component renames
  nuxt.config.ts
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/composables/use-pages.ts
  src/locales/en.json
  src/pages/about.vue
  src/pages/external-sources.vue
  test/locales/ar.json
  test/locales/es.json
  test/locales/ru.json
  test/playwright/e2e/search-types.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

simplify external sources page copy
  src/locales/en.json
  src/pages/external-sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Delete unused screenshots
  src/assets/screenshots/supported.png
  src/assets/screenshots/unsupported.png
Due: none

Update src/locales/en.json
  src/locales/en.json
Due: prettier --write

Add snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xs-linux.png
Due: none

Refactor SearchTypePopover and filter button for desktop header
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderFilter.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix the logo size
  src/components/VLogoLoader/VLogoLoader.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VHeaderFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make VSearchTypes handle type selection
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert changes to the VSearchTypeButton
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
