Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add aria-controls
  src/components/VExternalSearch/VExternalSearchForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use a modal for external sources on mobile
  src/components/VButton.vue
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VModal/VModalContent.vue
  src/types/button.ts
  src/types/modal.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix `full` modal width
  src/components/VModal/VModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix the handling of `aria-controls`
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopoverContent.vue
  test/playwright/visual-regression/components/external-sources-section.spec.ts
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-png-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tests and snapshots
  test/playwright/e2e/search-types-old.spec.ts
  test/playwright/e2e/search-types.spec.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/dropdown-label-resting-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshot
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-png-sm-linux.png
Due: none

Fix types
  src/components/VExternalSearch/VExternalSearchForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Lint
  src/types/modal.ts
  test/playwright/visual-regression/components/external-sources-section.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-png-xl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-png-xl-linux.png
Due: none

Fix scroll lock; button width & position change
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/composables/use-dialog-control.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update eslint and prettier related dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Update actions/setup-node action to v3.6.0
  .github/actions/setup-node-env/action.yml
Due: prettier --write

Update docker/build-push-action action to v4
  .github/workflows/ghcr.yml
Due: prettier --write

Set min height to 100dvh with fallback to 100vh
  src/components/VModal/VModalContent.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a fallback padding to modal-content
  src/components/VModal/VModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Set height to 100dvh and make footer bg-yellow
  src/components/VFourOhFour.vue
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModalContent.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Simplify navigation for tests
  test/playwright/utils/navigation.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update deployment actions using new definitions
  .github/actions/production-deploy/action.yml
  .github/actions/staging-deploy/action.yml
Due: prettier --write

Fix linting errors
  .github/actions/production-deploy/action.yml
  .github/actions/staging-deploy/action.yml
Due: prettier --write

Update alex-page/github-project-automation-plus action to v0.8.3
  .github/workflows/new_issues.yml
Due: prettier --write

Update renovatebot/github-action action to v34.109.1
  .github/workflows/renovate.yml
Due: prettier --write

Add retries to the `no-results` vr tests
  test/playwright/visual-regression/pages/no-results.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VModal/VModalContent.vue
  src/components/VModal/VModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 synced local '.github/workflows/new_issues.yml' with remote '.github/workflows/new_issues.yml'
  .github/workflows/new_issues.yml
Due: prettier --write

🔄 synced local '.pre-commit-config.yaml' with remote 'templates/.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

🔄 synced local '.github/workflows/label_new_pr.yml' with remote '.github/workflows/label_new_pr.yml'
  .github/workflows/label_new_pr.yml
Due: prettier --write

Increase sidebar width by `20px` to accommodate a scrollbar
  src/styles/tailwind.css
Due: none

Update snapshots
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Due: none

Increase horizontal padding in search grid
  src/pages/search.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-ltr-xs-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-all-rtl-xs-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-ltr-xs-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-audio-rtl-xs-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-ltr-xs-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-sm-linux.png
  test/playwright/visual-regression/pages/no-results.spec.ts-snapshots/no-results-image-rtl-xs-linux.png
Due: none

making changes to allow for screen readers disclosure about opening in new tabs
  src/components/VLink.vue
  src/locales/scripts/en.json5
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove extra space from links
  src/components/VLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a space to the string and fix unit test
  src/components/VLink.vue
  src/locales/scripts/en.json5
  test/unit/specs/components/v-link.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
