Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

🔄 Synced local '.github/workflows/actionlint.yml' with remote '.github/workflows/actionlint.yml'
  .github/workflows/actionlint.yml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Hide the recent searches when the focus moves past the 'Clear' button
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix Prettier issues
  src/styles/tailwind.css
Due: none

Add newlines to EOF
  src/assets/browsers/chrome.svg
  src/assets/browsers/edge.svg
  src/assets/browsers/firefox.svg
  src/assets/browsers/opera.svg
  src/assets/icons/source.svg
  src/assets/licenses/pd.svg
Due: none

Remove excess newlines from EOF
  .dockerignore
Due: none

Fix ShellCheck issues
  bin/playwright.sh
Due: none

Replace Husky with pre-commit
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .pre-commit-config.yaml
  Dockerfile
  package.json
Due: prettier --write

Remove lint-staged configuration
  .lintstagedrc
Due: none

Define the `pc:lint` script to run pre-commit manually
  .github/workflows/ci.yml
  package.json
Due: prettier --write

Expand ESLint to cover TS and Vue files
  .pre-commit-config.yaml
Due: prettier --write

Make isNewHeaderEnabled a computed so that it's updated
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make VRecentSearches ClientOnly
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add .value
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Implement the composite search bar in the mobile search header
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VBackButton.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VLogoButton.vue
  src/components/VHeader/VSearchBar/VClearButton.vue
  src/components/VHeader/meta/VHeaderMobile.stories.mdx
  src/components/VIconButton/VIconButton.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VHeaderMobile and VInputModal
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VModal/VInputModal.vue
  src/components/VRecentSearches/VRecentSearches.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix types
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VModal/VInputModal.vue
  src/composables/use-body-scroll-lock.ts
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Style updates Replace internal border with an external ring on searchbar Show the Clear button only if there is a search term Darken the input text on hover
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use VSearchBarButton for back and clear buttons
  src/components/VButton.vue
  src/components/VHeader/VHeaderMobile/VBackButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  src/components/VHeader/VSearchBar/VClearButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add hover styles to the buttons
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove defaults for inner-area-classes
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add the `isFetching` prop to VContentSettingsModal
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add explanation for `i18n` hook
  .pre-commit-config.yaml
Due: prettier --write

Add a Tab handler on the Search button
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: prettier --write

Add hover styles to the tabs and close button
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/components/VTabs/VTab.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add hover styles to the header menu button
  src/components/VHeader/VHeaderInternal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

linting
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

lint
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Focus the input field when the recent searches are cleared
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VInputField/VInputField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix alignment to pass Prettier check
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Skip Git hooks when updating PO file
  .github/workflows/generate_pot.yml
Due: prettier --write

Fix VSearchTypes spacings
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/components/VItemGroup/VItem.vue
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
