Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VHeaderDesktop docstrings
  src/components/VHeader/VHeaderDesktop.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make `VRecentSearches` accessible
  src/components/VRecentSearches/VRecentSearches.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add aria-hidden to hide interpunct
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update actions/setup-node action to v3.5.0
  .github/actions/setup-node-env/action.yml
Due: prettier --write

Update slackapi/slack-github-action action to v1.22.0
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Update the VFilterButton
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VHeaderOld/meta/VFilterButtonOld.stories.mdx
  test/storybook/visual-regression/v-filter-button-old.spec.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-md-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Integrate `VRecentSearches` with `VSearchBar`
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Merge `recent_searches` flag into `new_header`
  feat/feature-flags.json
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Put the recent searches feature behind a feature flag
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tests
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update renovatebot/github-action action to v32.213.0
  .github/workflows/renovate.yml
Due: prettier --write

Add snapshots
  test/locales/ar.json
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xs-linux.png
Due: prettier --write

Add a disclaimer
  src/components/VRecentSearches/VRecentSearches.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use bubbling event `focusout` instead of non-bubbling `blur`
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Replace `blur` event with outside clicks
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Handle clearing of recent searches
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix import order
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add concurrency settings for actionlint workflow
  .github/workflows/actionlint.yml
Due: prettier --write

Use clearer ARIA label for button to clear recent searches
  src/components/VRecentSearches/VRecentSearches.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add E2E tests for recent searches
  src/components/VRecentSearches/VRecentSearches.vue
  test/playwright/e2e/recent-searches.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add mobile Recent searches
  src/components/VButton.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile.vue
  src/components/VHeader/VHeaderMobile/VBackButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  src/components/VHeader/VLogoButton.vue
  src/components/VHeader/VSearchBar/VClearButton.vue
  src/components/VHeader/meta/VContentSettingsButton.stories.mdx
  src/components/VHeader/meta/VContentSettingsModal.stories.mdx
  src/components/VHeader/meta/VHeaderMobile.stories.mdx
  src/components/VIconButton/VIconButton.vue
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VRecentSearches/VRecentSearches.vue
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/composables/use-dialog-content.js
  src/composables/use-match-routes.ts
  src/layouts/default.vue
  src/locales/en.json
  src/models/tabs.ts
  src/types/button.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-resting-linux.png
  test/unit/specs/stores/search-store.spec.js
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Create a tabbed mobile modal
  src/components/VButton.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  src/components/VHeader/meta/VContentSettingsButton.stories.mdx
  src/components/VHeader/meta/VContentSettingsModal.stories.mdx
  src/components/VHeader/meta/VHeaderMobile.stories.mdx
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/components/VTabs/meta/VTabs.stories.mdx
  src/composables/use-match-routes.ts
  src/layouts/default.vue
  src/locales/en.json
  src/models/tabs.ts
  src/types/button.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/text-resting-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Move the close button closer to the end of the modal
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Close modal on click outside
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

TS-ify VItemGroup and VPopover components
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VItemGroup/meta/VItemGroup.stories.js
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-dialog-content.ts
  src/composables/use-focus-on-show.ts
  src/composables/use-popover-content.ts
  src/composables/use-popper.ts
  src/models/item-group.ts
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add loading animations to the See Results button
  src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  src/components/VHeader/meta/VShowResultsButton.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
