Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix VR test
  test/playwright/visual-regression/components/filters.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add icon and change fonts for tabs
  src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  src/components/VTabs/VTab.vue
  src/locales/scripts/en.json5
  test/playwright/playwright.config.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/filters-sidebar.spec.ts
  test/playwright/visual-regression/components/filters.spec.ts
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add snapshots
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-linux.png
Due: none

Update POT file
  openverse.pot
Due: none

add query param to url and updating search term
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VImageGrid/VImageCell.vue
  src/pages/audio/_id/index.vue
  src/pages/image/_id/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Test update
  test/playwright/e2e/all-results-keyboard.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

e2e test for search term
  test/playwright/e2e/search-term.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add comment
  test/playwright/e2e/search-term.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

moved tests to search-navigation
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search-term.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

changed css selector fo search type pop over
  test/playwright/e2e/homepage.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add search term prop to VImageCell
  src/components/VImageGrid/VImageCell.vue
  src/components/VImageGrid/VImageGrid.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add searchTerm prop to VAudioTrack and VImageCellSquare
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VAllResultsGrid/VAudioCell.vue
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/pages/search/audio.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

moved tests to search-navigation
  test/playwright/e2e/search-term.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update feat/feature-flags.json
  feat/feature-flags.json
Due: prettier --write

Fix e2e test
  test/playwright/e2e/homepage.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add robots.txt file
  nuxt.config.ts
  src/server-middleware/robots.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

cleanup
  nuxt.config.ts
  src/layouts/content-layout.vue
  src/layouts/default.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add base url to all i18n generated tags
  nuxt.config.ts
  src/layouts/content-layout.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/server-middleware/robots.js
  src/server-middleware/robots.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 synced local '.github/workflows/new_issues.yml' with remote '.github/workflows/new_issues.yml'
  .github/workflows/new_issues.yml
Due: prettier --write

🔄 synced local '.github/workflows/new_prs.yml' with remote '.github/workflows/new_prs.yml'
  .github/workflows/new_prs.yml
Due: prettier --write

🔄 synced local '.pre-commit-config.yaml' with remote 'templates/.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

Fix typo
  src/components/VFilters/VSearchGridFilter.vue
  src/stores/search.ts
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix remaining sensitive titles
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix homepage zooming on iPhone
  src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  src/locales/scripts/en.json5
  src/styles/tailwind.css
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Ensure the lineage is traced correctly
  src/locales/scripts/read-i18n.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Filter `searchBy` from the filter array
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Filter `searchBy` from the filter array
  test/unit/specs/components/v-search-grid-filter.spec.js
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix e2e tests
  test/playwright/e2e/search-query-server-old.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
