Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert changes to VContentPage.vue
  src/components/VContentPage.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update renovatebot/github-action action to v34.77.1
  .github/workflows/renovate.yml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Update the search term when users click the back button
  src/pages/search.vue
  test/playwright/e2e/search-navigation.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Move search functions to useSearch composable
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeaderOld/VHeaderMenu.vue
  src/components/VHeaderOld/VHeaderOld.vue
  src/composables/use-i18n-utilities.ts
  src/composables/use-search.ts
  test/playwright/e2e/search-navigation.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Improve searchTerm handling
  src/composables/use-search.ts
  src/pages/search.vue
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix queryless redirect on search
  src/pages/search.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update homepage snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
Due: none

Fix e2e tests
  test/playwright/utils/navigation.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update spacing in the internal header
  src/components/VHeader/VHeaderInternal.vue
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-lg-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-ltr-xl-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-lg-linux.png
  test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update search types popover for the new homepage
  src/assets/icons/item-indicator.svg
  src/components/VContentPage.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VContentSwitcher/meta/VSearchTypePopover.stories.mdx
  src/components/VContentSwitcher/meta/VSearchTypes.stories.mdx
  src/components/VFourOhFour.vue
  src/components/VHeaderOld/VSearchBar/VStandaloneSearchBarOld.vue
  src/components/VItemGroup/VItem.vue
  src/composables/use-search-type.ts
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert changes to the VContentPage.vue
  src/components/VContentPage.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert changes to home page
  src/components/VFourOhFour.vue
  src/components/VHeaderOld/VSearchBar/VStandaloneSearchBarOld.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Move the home and 404 pages to default layout
  src/components/VFourOhFour.vue
  src/components/VHeaderOld/VSearchBar/VStandaloneSearchBarOld.vue
  src/components/VHomeGallery/VHomeGallery.vue
  src/components/VHomepageContent.vue
  src/components/VImageCarousel.vue
  src/components/VOldHomepageContent.vue
  src/components/VSourcesTable.vue
  src/composables/use-match-routes.ts
  src/layouts/default.vue
  src/layouts/error.vue
  src/pages/index.vue
  src/pages/search-help.vue
  src/pages/sources.vue
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix layout background not re-rendering on changing page
  src/composables/use-match-routes.ts
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix homepage search type selection
  src/components/VContentSwitcher/VSearchTypePopover.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the VSearchTypeButton to match the designs
  src/components/VButton.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VPopover/VPopover.vue
  src/locales/scripts/en.json5
  test/playwright/utils/navigation.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert the chevron rotation
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix Playwright tests
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/load-more.spec.ts
  test/playwright/e2e/search-query-client-old.spec.ts
  test/playwright/e2e/search-query-server-old.spec.ts
  test/playwright/e2e/search-types-old.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/external-sources-section.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert the button width hack
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VPopover/VPopover.vue
  test/locales/ar.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix type selection
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix inline-end padding
  src/components/VContentSwitcher/VSearchTypeButton.vue
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-pressed-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a warning for missing aria attributes
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix after-merge problem
  src/components/VContentSwitcher/VSearchTypePopover.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add new deployment action for staging.openverse.org
  .github/actions/staging-nuxt-nuxt-deploy/action.yml
Due: prettier --write

Add new staging actions
  .github/actions/staging-deploy/action.yml
  .github/workflows/ghcr.yml
  .github/workflows/rollback.yml
Due: prettier --write

Change copyright holder to Openverse
  LICENSE
Due: none

Set `showLabel` to true from `sm`on the homepage
  src/components/VHomepageContent.vue
  src/pages/index.vue
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-sm-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove old staging deployments
  .github/actions/staging-frontend-deploy/action.yml
  .github/workflows/ghcr.yml
  .github/workflows/rollback.yml
Due: prettier --write

Update staging site references in docs
  DEPLOYMENT.md
  TESTING_GUIDELINES.md
Due: prettier --write

🔄 Synced local 'prettier.config.js' with remote 'templates/prettier.config.frontend.js.jinja'
  prettier.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: prettier --write

🔄 Synced local '.pre-commit-config.yaml' with remote 'templates/.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
