Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{ts,js,vue,json,yml,yaml,mdx,md}": [
    "prettier --write"
  ],
  "*.{ts,js,vue}": [
    "eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Update POT file
  openverse.pot
Due: none

Update src/stores/media/index.ts
  src/stores/media/index.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Rename meta search to external sources
  nuxt.config.ts
  src/composables/use-pages.ts
  src/constants/media.ts
  src/locales/en.json
  src/pages/about.vue
  src/pages/external-sources.vue
  test/locales/ar.json
  test/playwright/e2e/search-types.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Try using version 1.22.0
  package.json
Due: prettier --write

Try using version 1.25.0
  package.json
Due: prettier --write

Try adding the saved locales
  Dockerfile.playwright
Due: none

Fix the execution context in the Playwright Docker container
  test/playwright/playwright.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Rebase onto main
  Dockerfile.playwright
Due: none

Fix copy command
  Dockerfile.playwright
Due: none

Try fixing the playwright command
  test/README.md
Due: prettier --write

Downgrade to v 1.22
  package.json
Due: prettier --write

Update to 1.23
  package.json
Due: prettier --write

Update to v. 1.24
  package.json
Due: prettier --write

Update package.json and the lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix npm script
  package.json
Due: prettier --write

Add snackbar text for the box layout
  src/locales/en.json
Due: prettier --write

Pass listeners down to the inner component
  src/components/VAllResultsGrid/VAudioCell.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Refactor the UI store
  src/pages/search/audio.vue
  src/stores/ui.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add the snackbar to the all results grid
  src/components/VAllResultsGrid/VAllResultsGrid.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add role of 'application' for NVDA compatibility
  src/components/VAudioTrack/VAudioTrack.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix snackbar padding
  src/components/VSnackbar.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use regular font for the key names
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/pages/search/audio.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Show snackbar on phones and tablets
  src/components/VSnackbar.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix spacings around and between audio tracks
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/pages/search/audio.vue
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update screenshots
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: none

Add a missing tapes
  test/tapes/related/audio/3051f140-304d-4217-a4ea-aaa4e2aef873_keep-alive.json5
  test/tapes/thumb/audio/12d54947-85c3-4928-a7e1-0f4fb9594d0e_keep-alive.json5
  test/tapes/thumb/audio/1bb94f50-009c-4371-a605-dd289562a9f5_keep-alive.json5
  test/tapes/thumb/audio/1f259684-294e-4497-864b-2abd0549b1d3_keep-alive.json5
  test/tapes/thumb/audio/2d41b030-398c-442e-ba5d-e0915a98e7e5_keep-alive.json5
  test/tapes/thumb/audio/47f36e1a-2259-4e7f-89a7-13b0c2597cab_keep-alive.json5
  test/tapes/thumb/audio/74a033fe-7aff-4594-a4e7-1af8ce72984f_keep-alive.json5
  test/tapes/thumb/audio/763b8f5c-67b0-4fd2-9f9b-5206c72c7323_keep-alive.json5
  test/tapes/thumb/audio/89242a7e-a43d-4fa4-bb49-287163285c56_keep-alive.json5
  test/tapes/thumb/audio/8927a579-a3ee-4109-9373-259ec6d5b4c5_keep-alive.json5
  test/tapes/thumb/audio/8b474e92-084b-4393-864d-3431ec3631a0_keep-alive.json5
  test/tapes/thumb/audio/908b20be-d832-453a-890f-c087c0f0c689_keep-alive.json5
  test/tapes/thumb/audio/94c5412b-5970-4a5a-93c2-6da9e157b64d_keep-alive.json5
  test/tapes/thumb/audio/9617ad22-22fb-4941-9a55-17282f8b9410_keep-alive.json5
  test/tapes/thumb/audio/96db97f8-7a2a-4fdd-9dcf-5ad9ccb3c484_keep-alive.json5
  test/tapes/thumb/audio/99127915-4a8d-4779-893c-2af9d4fe048e_keep-alive.json5
  test/tapes/thumb/audio/a7ac1bbc-2ccb-4d8b-922c-0e026bb92489_keep-alive.json5
  test/tapes/thumb/audio/b502f915-adce-406b-ad87-9b17250331dd_keep-alive.json5
  test/tapes/thumb/audio/b7f99e99-f7df-4137-924f-c395575d4f16_keep-alive.json5
  test/tapes/thumb/audio/ba998326-b985-4385-ade3-999a5c20f57c_keep-alive.json5
  test/tapes/thumb/audio/cb6c081a-1e15-4d03-a818-f850377a9eb7_keep-alive.json5
  test/tapes/thumb/images/0876b282-361e-49ad-a383-3f6850296011_keep-alive.json5
  test/tapes/thumb/images/11006520-0841-4f6b-9739-921290121d22_keep-alive.json5
  test/tapes/thumb/images/44251db7-08ac-45a2-8d9b-a4531118018b_keep-alive.json5
  test/tapes/thumb/images/5575b3e5-df3d-4d97-a465-bd0e3753084a_keep-alive.json5
  test/tapes/thumb/images/58f16e21-a536-4c01-b3e2-b074bf4741fe_keep-alive.json5
  test/tapes/thumb/images/8bea0a3d-72ed-4d10-8df6-b6dfd1560d4a_keep-alive.json5
  test/tapes/thumb/images/dbc5280c-a61b-43c2-9f3d-c29302897434_keep-alive.json5
  test/tapes/thumb/images/e3e56867-e9ab-4602-bcc5-0dd1606ba4f2_keep-alive.json5
Due: none

Make sure the navigation is finished before testing
  test/playwright/e2e/global-audio.spec.ts
  test/tapes/detail/audio/3051f140-304d-4217-a4ea-aaa4e2aef873_keep-alive.json5
  test/tapes/detail/audio/b502f915-adce-406b-ad87-9b17250331dd_keep-alive.json5
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix global-audio tests
  test/playwright/e2e/global-audio.spec.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Skip global-audio tests
  test/playwright/e2e/global-audio.spec.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove the thumb snapshots
  test/tapes/thumb/audio/12d54947-85c3-4928-a7e1-0f4fb9594d0e_keep-alive.json5
  test/tapes/thumb/audio/1bb94f50-009c-4371-a605-dd289562a9f5_keep-alive.json5
  test/tapes/thumb/audio/1f259684-294e-4497-864b-2abd0549b1d3_keep-alive.json5
  test/tapes/thumb/audio/2d41b030-398c-442e-ba5d-e0915a98e7e5_keep-alive.json5
  test/tapes/thumb/audio/47f36e1a-2259-4e7f-89a7-13b0c2597cab_keep-alive.json5
  test/tapes/thumb/audio/74a033fe-7aff-4594-a4e7-1af8ce72984f_keep-alive.json5
  test/tapes/thumb/audio/763b8f5c-67b0-4fd2-9f9b-5206c72c7323_keep-alive.json5
  test/tapes/thumb/audio/89242a7e-a43d-4fa4-bb49-287163285c56_keep-alive.json5
  test/tapes/thumb/audio/8927a579-a3ee-4109-9373-259ec6d5b4c5_keep-alive.json5
  test/tapes/thumb/audio/8b474e92-084b-4393-864d-3431ec3631a0_keep-alive.json5
  test/tapes/thumb/audio/908b20be-d832-453a-890f-c087c0f0c689_keep-alive.json5
  test/tapes/thumb/audio/94c5412b-5970-4a5a-93c2-6da9e157b64d_keep-alive.json5
  test/tapes/thumb/audio/9617ad22-22fb-4941-9a55-17282f8b9410_keep-alive.json5
  test/tapes/thumb/audio/96db97f8-7a2a-4fdd-9dcf-5ad9ccb3c484_keep-alive.json5
  test/tapes/thumb/audio/99127915-4a8d-4779-893c-2af9d4fe048e_keep-alive.json5
  test/tapes/thumb/audio/a7ac1bbc-2ccb-4d8b-922c-0e026bb92489_keep-alive.json5
  test/tapes/thumb/audio/b502f915-adce-406b-ad87-9b17250331dd_keep-alive.json5
  test/tapes/thumb/audio/b7f99e99-f7df-4137-924f-c395575d4f16_keep-alive.json5
  test/tapes/thumb/audio/ba998326-b985-4385-ade3-999a5c20f57c_keep-alive.json5
  test/tapes/thumb/audio/cb6c081a-1e15-4d03-a818-f850377a9eb7_keep-alive.json5
  test/tapes/thumb/images/0876b282-361e-49ad-a383-3f6850296011_keep-alive.json5
  test/tapes/thumb/images/11006520-0841-4f6b-9739-921290121d22_keep-alive.json5
  test/tapes/thumb/images/44251db7-08ac-45a2-8d9b-a4531118018b_keep-alive.json5
  test/tapes/thumb/images/5575b3e5-df3d-4d97-a465-bd0e3753084a_keep-alive.json5
  test/tapes/thumb/images/58f16e21-a536-4c01-b3e2-b074bf4741fe_keep-alive.json5
  test/tapes/thumb/images/8bea0a3d-72ed-4d10-8df6-b6dfd1560d4a_keep-alive.json5
  test/tapes/thumb/images/dbc5280c-a61b-43c2-9f3d-c29302897434_keep-alive.json5
  test/tapes/thumb/images/e3e56867-e9ab-4602-bcc5-0dd1606ba4f2_keep-alive.json5
Due: none

Use the local lint-staged
  .husky/pre-commit
Due: none

Add visual regression tests
  src/components/VMetaSearch/VMetaSourceList.vue
  test/locales/ar.json
  test/playwright/visual-regression/components/additional-sources-section.spec.ts
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-all-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-audio-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-image-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-image-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-rtl-linux.png
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use a popup for External sources
  src/components/VMetaSearch/VMetaSourceList.vue
  src/locales/en.json
  tsconfig.json
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Change 'additional' to 'external' for sources
  src/locales/en.json
  test/locales/ar.json
Due: prettier --write

Make the test faster
  test/playwright/visual-regression/components/additional-sources-section.spec.ts
Due: prettier --write, eslint --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
