Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Update POT file
  openverse.pot
Due: none

Remove ignore scripts (nuxt requires it)
  Dockerfile
  bin/install-pre-commit.sh
  package.json
Due: prettier --write

Use `sh` instead of `bash`
  bin/install-pre-commit.sh
Due: none

Remove stale comment
  Dockerfile
Due: none

Close the recent searches on Shift+Tab
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Rename function to clarify their meanings
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Improve clarity by renaming/moving code
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix style problems and add VSearchTypes story
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VContentSwitcher/meta/VSearchTypePopover.stories.mdx
  src/components/VContentSwitcher/meta/VSearchTypes.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add storybook VR tests for VSearchTypes
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VItemGroup/VItem.vue
  test/storybook/visual-regression/v-search-types.spec.ts
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-at-rest-md-linux.png
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-focused-md-linux.png
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-images-hovered-md-linux.png
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-at-rest-xl-linux.png
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-focused-xl-linux.png
  test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-images-hovered-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

fix typo for word occurred
  src/locales/en.json
Due: prettier --write

Fix the header paddings; search-help footer; footer width on lg
  src/components/VHeader/VHeaderDesktop.vue
  src/layouts/default.vue
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add css class
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed unused code
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

margin fix of the heding FILTER BY inside the filters menu the top and bottom margins should be 32px
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix the height of the button adding a new class
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Created local '.github/subscribe_to_label.json' from remote '.github/subscribe_to_label.json'
  .github/subscribe_to_label.json
Due: prettier --write

🔄 Created local '.github/workflows/subscribe_to_label.yml' from remote '.github/workflows/subscribe_to_label.yml'
  .github/workflows/subscribe_to_label.yml
Due: prettier --write

Lint
  .github/subscribe_to_label.json
Due: prettier --write

Add e2e test utils for new_header
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModal.vue
  src/locales/en.json
  test/README.md
  test/playwright/e2e/filters-old.spec.ts
  test/playwright/e2e/mobile-menu-old.spec.ts
  test/playwright/e2e/recent-searches.spec.ts
  test/playwright/e2e/search-navigation-old.spec.ts
  test/playwright/e2e/search-query-client-old.spec.ts
  test/playwright/e2e/search-query-server-old.spec.ts
  test/playwright/e2e/search-types-old.spec.ts
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/audio-results-old.spec.ts
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results-old.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts
  test/playwright/visual-regression/components/header-old.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

All changes from mobile_header_buttons
  src/assets/icons/openverse-logo-text.svg
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VButton.vue
  src/components/VCheckbox/VCheckbox.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  src/components/VHeader/VSearchBar/VClearButton.vue
  src/components/VHeader/meta/VContentSettingsButton.stories.mdx
  src/components/VHeader/meta/VSearchBarButtons.stories.mdx
  src/components/VHeaderOld/VLogoButtonOld.vue
  src/components/VHeaderOld/VPageMenu/VPageList.vue
  src/components/VIcon/VIcon.vue
  src/components/VIconButton/VIconButton.vue
  src/components/VLicense/VLicense.vue
  src/components/VLicense/VLicenseElements.vue
  src/components/VLink.vue
  src/components/VModal/VModalContent.vue
  src/pages/image/_id.vue
  tailwind.safelist.txt
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain--avoid-resting-linux.png
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update action-setup to v.2.2.4
  .github/actions/setup-node-env/action.yml
Due: prettier --write

Typescriptify VModal
  src/assets/icons/openverse-logo-text.svg
  src/components/VHeaderOld/VLogoButtonOld.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VModal/VSidebarTarget.vue
  src/types/modal.ts
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Typescriptify what's left
  src/composables/types.js
  src/composables/use-i18n-utilities.ts
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove the `size` prop from the Icon
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VCheckbox/VCheckbox.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  src/components/VHeader/VSearchBar/VClearButton.vue
  src/components/VHeader/meta/VContentSettingsButton.stories.mdx
  src/components/VHeader/meta/VSearchBarButtons.stories.mdx
  src/components/VHeaderOld/VPageMenu/VPageList.vue
  src/components/VIcon/VIcon.vue
  src/components/VIconButton/VIconButton.vue
  src/components/VLicense/VLicense.vue
  src/components/VLicense/VLicenseElements.vue
  src/components/VLink.vue
  src/components/VModal/VModalContent.vue
  src/pages/image/_id.vue
  tailwind.safelist.txt
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Revert button self-center changes
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VButton.vue
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add size classes to all VIcons
  src/components/VBackToSearchResultsLink.vue
  src/components/VContentLink/VContentLink.vue
  src/components/VContentReport/VContentReportButton.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypeRadio.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/VContentSwitcherOld/VSearchTypeItemOld.vue
  src/components/VExternalSearch/VExternalSourceList.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeaderOld/VFilterButtonOld.vue
  src/components/VHeaderOld/VPageMenu/VPageMenuButton.vue
  src/components/VHeaderOld/VSearchBar/VSearchButtonOld.vue
  src/components/VIcon/VIcon.vue
  src/components/VIcon/meta/VIcon.stories.mdx
  src/components/VIconButton/VIconButton.vue
  src/components/VItemGroup/VItem.vue
  src/components/VLanguageSelect/VLanguageSelect.vue
  src/components/VSelectField/VSelectField.vue
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add size classes to all VIcons
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VButton.vue
  src/pages/image/_id.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add disabled snapshots to the `action-` buttons
  test/storybook/visual-regression/v-button.spec.ts
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-disabled-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-disabled-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-disabled-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
