Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Create a very versatile `select` field
  src/components/VSelectField/VSelectField.vue
  src/components/VSelectField/meta/VSelectField.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Record native names for all valid languages
  src/locales/scripts/get-validated-locales.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Create a language chooser
  src/assets/icons/globe.svg
  src/components/VLanguage/VLanguage.vue
  src/components/VLanguage/meta/VLanguage.stories.mdx
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Replace placeholder with actual language chooser
  src/components/VFooter/VFooter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add support for a borderless select field to use on the 404 page
  src/components/VFooter/VFooter.vue
  src/components/VFourOhFour.vue
  src/components/VLanguage/VLanguage.vue
  src/components/VSelectField/VSelectField.vue
  src/components/VSelectField/meta/VSelectField.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Ensure sidebar goes above the footer
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

I hate VRT so much
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
Due: none

Reduce api token logging
  src/plugins/api-token.server.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make some TS improvements
  src/components/VBrand/VBrand.vue
  src/components/VFooter/VFooter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Replace hardcoded color with `currentColor`
  src/assets/wordpress.svg
Due: none

Extract the `ResizeObserver` logic from `VWaveform`
  src/components/VAudioTrack/VWaveform.vue
  src/composables/use-resize-observer.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Convert media query variants to JS-based responsiveness
  src/components/VFooter/VFooter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Make footer shrink when the sidebar is opened
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix sidebar behaviour on `md` breakpoints
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Flip external link icon for RTL locales
  src/components/VLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Ignore pointer events on left icon
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

🔄 Synced local '.github/ISSUE_TEMPLATE/' with remote '.github/ISSUE_TEMPLATE/'
  .github/ISSUE_TEMPLATE/sentry_bug.md
Due: prettier --write

Fix small issues with component sizes
  src/components/VFooter/VFooter.vue
  src/components/VLanguage/VLanguage.vue
  src/components/VSelectField/VSelectField.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a click handler to VLink if it uses NuxtLink
  src/components/VLink.vue
  test/unit/setup.js
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/image-grid.spec.js
  test/unit/specs/components/related-images.spec.js
  test/unit/specs/components/v-content-link.spec.js
  test/unit/specs/components/v-link.spec.js
  test/unit/specs/components/v-modal.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add Content header with links
  src/assets/icons/menu.svg
  src/components/VHeader/VHeaderInternal.vue
  src/components/VIconButton/VIconButton.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/composables/use-pages.ts
  src/layouts/default.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add doc comment to the use-pages currentPage
  src/composables/use-pages.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add changes from code review
  src/components/VHeader/VHeaderInternal.vue
  src/components/VModal/VModal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add screen reader indication that some filters were applied
  src/components/VHeader/VContentSettingsButton.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Convert use-hide-on-click-outside and use-event-listener-outside to TS
  src/composables/use-event-listener-outside.ts
  src/composables/use-hide-on-click-outside.ts
  src/utils/reakit-utils/dom.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update use-hide-on-click-outside usage
  src/composables/use-dialog-content.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add load more button e2e tests
  test/playwright/e2e/load-more.spec.ts
  test/playwright/utils/navigation.ts
  test/tapes/search/audio/q=cat&page=2_keep-alive.json5
  test/tapes/search/audio/q=ecommerce_close.json5
  test/tapes/search/audio/q=ecommerce_keep-alive.json5
  test/tapes/search/audio/q=horses_close.json5
  test/tapes/search/audio/q=horses_keep-alive.json5
  test/tapes/search/images/q=cat&page=2_keep-alive.json5
  test/tapes/search/images/q=ecommerce_close.json5
  test/tapes/search/images/q=ecommerce_keep-alive.json5
  test/tapes/search/images/q=horses_close.json5
  test/tapes/search/images/q=horses_keep-alive.json5
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update test/playwright/e2e/load-more.spec.ts
  test/playwright/e2e/load-more.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add missing tapes
  test/tapes/related/audio/2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_keep-alive.json5
  test/tapes/search/audio/q=cat&page=2_keep-alive.json5
  test/tapes/search/audio/q=horses_close.json5
  test/tapes/search/audio/q=horses_keep-alive.json5
  test/tapes/search/images/q=horses_keep-alive.json5
Due: none

Use i18n string for loadMoreButton
  test/playwright/e2e/load-more.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add missing tapes
  test/tapes/search/audio/q=cat&page=2&peaks=true_keep-alive.json5
  test/tapes/search/audio/q=ecommerce&peaks=true_close.json5
  test/tapes/search/audio/q=ecommerce&peaks=true_keep-alive.json5
Due: none

Make media-reuse VRT less flaky by blocking image requests
  test/playwright/visual-regression/components/media-reuse.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tapes
  test/tapes/related/audio/2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/related/audio/7e063ee6-343f-48e4-a4a5-f436393730f6_close.json5
  test/tapes/search/audio/q=ecommerce&peaks=true_close.json5
  test/tapes/search/audio/q=ecommerce&peaks=true_keep-alive.json5
  test/tapes/search/audio/q=horses_close.json5
  test/tapes/search/audio/q=horses_keep-alive.json5
  test/tapes/search/images/q=ecommerce_close.json5
  test/tapes/search/images/q=ecommerce_keep-alive.json5
  test/tapes/search/images/q=horses_close.json5
  test/tapes/search/images/q=horses_keep-alive.json5
Due: none

Update media-reuse snapshots
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-md-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: none

Adjust load-more tests for the disabled content link changes
  test/playwright/e2e/load-more.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tapes
  test/tapes/search/audio/q=horses_close.json5
  test/tapes/search/audio/q=horses_keep-alive.json5
  test/tapes/search/images/q=horses_close.json5
  test/tapes/search/images/q=horses_keep-alive.json5
Due: none

Update maxDiffPixelRatio
  test/playwright/playwright.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
