Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Update snapshots
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-linux.png
Due: none

Fix tests
  test/playwright/e2e/filters-old.spec.ts
  test/playwright/e2e/filters.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove `searchBy` filter references
  src/components/VErrorSection/meta/VErrorSection.stories.mdx
  src/components/VExternalSearch/VExternalSearchForm.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-rtl-linux.png
Due: none

Update POT file
  openverse.pot
Due: none

Update URL in opensearch.xml
  src/static/opensearch.xml
Due: none

Add locales to sitemap options
  nuxt.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Comment why sitemap module should be last
  nuxt.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert semi-bold correction
  src/styles/tailwind.css
Due: none

Update en.json5
  src/locales/scripts/en.json5
Due: none

Update src/locales/scripts/en.json5
  src/locales/scripts/en.json5
Due: none

Extract Prometheus module
  nuxt.config.ts
  src/modules/prometheus.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove unnecessary ts-ignore comments
  src/modules/prometheus.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove the "blank" layout
  src/layouts/blank.vue
  src/layouts/default.vue
  src/layouts/error.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional useMeta
  src/pages/about.vue
  src/pages/external-sources.vue
  src/pages/feedback.vue
  src/pages/index.vue
  src/pages/privacy.vue
  src/pages/search-help.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  src/pages/sources.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from index.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from search.vue
  src/pages/search.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from content-layout.vue
  src/layouts/content-layout.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from middleware.ts
  src/middleware/middleware.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from stores
  src/stores/search.ts
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from pages
  src/pages/audio/_id/index.vue
  src/pages/image/_id/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from composables
  src/composables/use-search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove -old tests
  test/playwright/e2e/filters-old.spec.ts
  test/playwright/e2e/search-navigation-old.spec.ts
  test/playwright/e2e/search-query-client-old.spec.ts
  test/playwright/e2e/search-query-server-old.spec.ts
  test/playwright/e2e/search-types-old.spec.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-pressed-md-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove -old components
  src/components/VContentSwitcherOld/VMobileMenuModal.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/VContentSwitcherOld/VSearchTypeItemOld.vue
  src/components/VContentSwitcherOld/VSearchTypePopoverOld.vue
  src/components/VContentSwitcherOld/VSearchTypesOld.vue
  src/components/VContentSwitcherOld/meta/VSearchTypePopoverOld.stories.mdx
  src/components/VHeaderOld/README.md
  src/components/VHeaderOld/VFilterButtonOld.vue
  src/components/VHeaderOld/VHeaderFilter.vue
  src/components/VHeaderOld/VHeaderMenu.vue
  src/components/VHeaderOld/VHeaderOld.vue
  src/components/VHeaderOld/VLogoButtonOld.vue
  src/components/VHeaderOld/VPageMenu/VDesktopPageMenu.vue
  src/components/VHeaderOld/VPageMenu/VMobilePageMenu.vue
  src/components/VHeaderOld/VPageMenu/VPageList.vue
  src/components/VHeaderOld/VPageMenu/VPageMenuButton.vue
  src/components/VHeaderOld/VSearchBar/VSearchBarOld.vue
  src/components/VHeaderOld/VSearchBar/VSearchButtonOld.vue
  src/components/VHeaderOld/VSearchBar/VStandaloneSearchBarOld.vue
  src/components/VHeaderOld/VSearchBar/meta/VSearchBarOld.stories.mdx
  src/components/VHeaderOld/meta/VFilterButtonOld.stories.mdx
  src/components/VHeaderOld/meta/VHeader.stories.mdx
  src/components/VInputFieldOld/VInputFieldOld.vue
  src/components/VInputFieldOld/meta/VInputFieldOld.stories.mdx
  src/components/VOldHomepageContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove conditional code from components
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VFourOhFour.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VImageCarousel.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove -old tests
  test/README.md
  test/playwright/e2e/filters.spec.ts
  test/playwright/e2e/header-internal.spec.ts
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/load-more.spec.ts
  test/playwright/e2e/migration-banner.spec.ts
  test/playwright/e2e/mobile-menu.spec.ts
  test/playwright/e2e/recent-searches.spec.ts
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
  test/playwright/e2e/search-types.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/external-sources-section.spec.ts
  test/playwright/visual-regression/components/filters.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/no-results.spec.ts
  test/playwright/visual-regression/pages/pages-single-result.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/unit/specs/stores/search-store.spec.js
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use useMeta on 404 page
  src/components/VFourOhFour.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove -old tests
  src/components/VModal/VModalContent.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update nuxt to 2.16
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add logging for translations which failed to download
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Throttle requests to GlotPress
  package.json
  pnpm-lock.yaml
  src/locales/scripts/axios.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Include error status code for failed translations
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VFilters/VSearchGridFilter.vue
  src/components/VFilters/VSearchGridFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update feat/feature-flags.json
  feat/feature-flags.json
Due: prettier --write
