Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

lint
  bin/add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

typeo
  bin/add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Update Node.js to v19
  Dockerfile
Due: none

Update renovatebot/github-action action to v34
  .github/workflows/renovate.yml
Due: prettier --write

Use UI store values for setting the layout
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentSwitcherOld/VMobileMenuModal.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeaderOld/VFilterButtonOld.vue
  src/components/VHeaderOld/VHeaderFilter.vue
  src/components/VHeaderOld/VHeaderMenu.vue
  src/components/VHeaderOld/VHeaderOld.vue
  src/components/VHeaderOld/VSearchBar/VSearchButtonOld.vue
  src/components/VHeaderOld/meta/VFilterButtonOld.stories.mdx
  src/components/VModal/VSidebarTarget.vue
  src/composables/use-filter-sidebar-visibility.ts
  src/composables/use-focus-filters.ts
  src/layouts/default.vue
  src/pages/index.vue
  src/pages/search.vue
  src/pages/search/audio.vue
  src/stores/ui.ts
  src/types/provides.ts
  test/playwright/visual-regression/components/audio-results-old.spec.ts
  test/playwright/visual-regression/components/header-old.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add changes from code review
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Changes after merge
  src/components/VHeaderOld/VSearchBar/VSearchButtonOld.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
  src/components/VContentSwitcherOld/VSearchTypeButtonOld.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix mobile menu not opening
  src/components/VHeaderOld/VHeaderFilter.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix cookie options
  src/middleware/middleware.ts
  src/stores/ui.ts
  src/types/cookies.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix desktop filter sidebar spacing
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update header VR tests
  test/playwright/visual-regression/components/header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Revert unrelated changes
  src/components/VAudioDetails/VRelatedAudio.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use lg as a desktop threshold for VHeaderInternal
  src/components/VHeader/VHeaderInternal.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use breakpoint in the UI store
  src/composables/use-layout.ts
  src/composables/use-media-query.ts
  src/constants/screens.js
  src/layouts/default.vue
  src/pages/index.vue
  src/stores/ui.ts
  src/types/cookies.ts
  src/types/screens.ts
  test/playwright/utils/breakpoints.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add isBreakpoint helper to use in JS similar to CSS
  src/components/VAudioDetails/VRelatedAudio.vue
  src/composables/use-layout.ts
  src/composables/use-media-query.ts
  src/constants/screens.js
  src/stores/ui.ts
  src/types/cookies.ts
  src/types/screens.ts
  test/playwright/utils/breakpoints.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Replace local use-window-size with VueUse one
  src/composables/use-popper.ts
  src/composables/use-window-size.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update tests
  test/unit/specs/stores/ui-store.spec.js
  test/unit/test-utils/pinia.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/stores/ui.ts
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix `isBreakpoint` logic
  src/components/VAudioDetails/VRelatedAudio.vue
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use ALL_SCREEN_SIZES to simplify JS breakpoints
  src/composables/use-layout.ts
  src/constants/screens.js
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use ALL_SCREEN_SIZES to simplify JS breakpoints
  src/components/VHeaderOld/VHeaderMenu.vue
  src/middleware/middleware.ts
  src/stores/ui.ts
  src/types/cookies.ts
  src/utils/cookies.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Move license name logic into `VMediaLicense`
  src/components/VMediaInfo/VMediaLicense.vue
  src/components/VMediaInfo/VMediaReuse.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Match component with Figma mockups
  src/components/VLicense/VLicenseElements.vue
  src/components/VMediaInfo/VMediaLicense.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix syntax errors
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix syntax errors
  src/types/cookies.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove uppercase to preserve case of 'Sampling'
  src/components/VMediaInfo/VMediaLicense.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Write stories and snapshot tests for the component
  src/components/VMediaInfo/meta/VMediaLicense.stories.mdx
  test/storybook/visual-regression/v-media-license.spec.ts
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-0-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-0-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-nd-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-nd-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-sa-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-sa-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nc-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nd-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-nd-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-sa-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-sa-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-nc-sampling-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-nc-sampling-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-sampling-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-sampling-xl-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-pdm-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-pdm-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update related snapshots
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/storybook/visual-regression/v-media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: none

Add missing snapshots
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-sm-linux.png
  test/storybook/visual-regression/v-media-license.spec.ts-snapshots/v-media-license-cc-by-xl-linux.png
Due: none

Update snapshots
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: none

Fix inaccurate snapshot
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
Due: none

Use UI store for accurate SSR
  .storybook/decorators/with-ui-store.js
  .storybook/preview.js
  src/components/VLicense/VLicenseElements.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
