Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Continue deployment regardless of failure of first two steps
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Replace python with bash in action step
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Add name to `gh-pages` workflow
  .github/workflows/gh-pages.yaml
Due: prettier --write

Ping deployer on production Slack notification
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
  .github/workflows/ghcr.yml
  .github/workflows/rollback.yml
Due: prettier --write

Add a component to display the image grid
  src/components/VHomeGallery/VHomeGallery.vue
  src/components/VHomeGallery/meta/VHomeGallery.stories.mdx
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Externalise background color of internal header
  src/components/VHeader/VHeaderInternal.vue
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a new line-height token
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix gallery alignment
  src/components/VHomeGallery/VHomeGallery.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add the updated homepage
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add tests for the redesigned home page
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove the redundant setup step
  .github/workflows/bundle_size.yml
Due: prettier --write

Fix secret turned input in action
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Fix appearance of focus ring on gallery images
  src/components/VHomeGallery/VHomeGallery.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove trailing slash typo
  src/assets/homepage_images/image_info.json
Due: prettier --write

Fix incorrect vertical alignment
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-redesigned-rtl-xl-linux.png
Due: none

Authenticate with `GITHUB_TOKEN` when setting up pre-commit
  .github/actions/setup-node-env/action.yml
  bin/install-pre-commit.sh
  package.json
Due: prettier --write

Use secret in workflows instead of `action.yml`
  .github/actions/setup-node-env/action.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .github/workflows/generate_pot.yml
  .github/workflows/gh-pages.yaml
Due: prettier --write

Remove logging line
  src/components/VHomeGallery/VHomeGallery.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Replace individual `env`s with top-level `env`
  .github/workflows/ci.yml
Due: prettier --write

Extract use-dialog-content.ts
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-dialog-content.ts
  src/composables/use-focus-on-show.ts
  src/composables/use-popover-content.ts
  src/composables/use-popper.ts
  src/types/modal.ts
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
  test/unit/specs/components/image-grid.spec.js
  test/unit/specs/components/v-popover.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Extract use-dialog-control.ts
  src/components/VModal/VInputModal.vue
  src/components/VModal/VModal.vue
  src/components/VPopover/VPopover.vue
  src/composables/use-dialog-control.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/pages/pages.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: none

Update Tailwind package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use Tailwind classes to drop the `<style>` tag entirely
  src/components/VHomeGallery/VHomeGallery.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Split old and new homepage tests
  test/playwright/e2e/load-more.spec.ts
  test/playwright/e2e/search-query-client-old.spec.ts
  test/playwright/e2e/search-types-old.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/pages/homepage-old.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Quick fix for the homepage
  src/pages/index.vue
  test/playwright/utils/navigation.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use popover for pages menu
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/types/item-group.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Adjust modal styles
  src/components/VHeader/VHeaderInternal.vue
  src/components/VNavLink/VNavLink.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Adjust popover styles
  src/components/VHeader/VHeaderInternal.vue
  src/components/VHeader/VPageLinks.vue
  src/components/VItemGroup/VItem.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
