Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix"
  ],
  "*.{ts,js,vue,json,yml,yaml,mdx,md}": [
    "prettier --write"
  ]
}

Undo unnecessary code changes
  src/components/VButton.vue
Due: eslint --fix, prettier --write

Update POT
  src/locales/po-files/openverse.pot
Due: none

Fix close button position and color
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VFilters/VFilterChecklist.vue
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
Due: eslint --fix, prettier --write

Increase timeout to prevent flakiness
  test/playwright/visual-regression/content-report-form.spec.ts
Due: eslint --fix, prettier --write

Pin node version for final production image
  Dockerfile
Due: none

Publish branch and main images to ghcr
  .github/workflows/ghcr.yml
Due: prettier --write

Restrict action
  .github/workflows/ghcr.yml
Due: prettier --write

Fix step reference
  .github/workflows/ghcr.yml
Due: prettier --write

Checkout the repo
  .github/workflows/ghcr.yml
Due: prettier --write

Fix image name
  .github/workflows/ghcr.yml
Due: prettier --write

Try to add tabs
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/components/VTabs/meta/VTabs.stories.mdx
  src/constants/key-codes.ts
  src/models/tabs.ts
  src/utils/dom.ts
  src/utils/focus-management.ts
Due: eslint --fix, prettier --write

Make working tabs with manual activation
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/components/VTabs/meta/VTabs.stories.mdx
  src/constants/key-codes.ts
  src/models/tabs.ts
  src/utils/dom.ts
  src/utils/focus-management.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Use tabs for VMediaReuse and Feedback; add tests
  package.json
  src/components/VCopyButton.vue
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VLicenseTabPanel.vue
  src/components/VMediaInfo/VMediaReuse.vue
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/constants/key-codes.ts
  src/models/tabs.ts
  src/pages/feedback.vue
  src/utils/attribution-html.ts
  src/utils/dom.ts
  src/utils/focus-management.ts
  test/playwright/e2e/attribution.spec.ts
  test/playwright/utils/breakpoints.ts
  test/playwright/visual-regression/media-reuse.spec.ts
  test/tapes/thumb_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/thumb_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  tsconfig.json
Due: eslint --fix, prettier --write

Add tapes and snapshots
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-lg-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/tapes/detail_images_f9384235-b72e-4f1e-9b05-e1b116262a29_close.json5
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_close.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/thumb_audio_1a694d77-dc46-49ec-a973-db72f081fe9e_keep-alive.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_64fc8595-94a6-46b9-850d-a663e65d6c8d_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_c0296e88-b198-43bc-837d-a41d52d2dd45_keep-alive.json5
  test/tapes/thumb_audio_da0f7a22-94f6-43bc-976a-80b2d5264bcd_keep-alive.json5
  test/tapes/thumb_audio_dd0aa28c-dc91-481f-8bd4-5fcb88d6b95d_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_audio_fc86f01e-39fd-43fc-a7bf-37cb31279d35_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Fix panel id generation
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VLicenseTabPanel.vue
  test/tapes/thumb_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
Due: eslint --fix, prettier --write

Update snapshots and tapes
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive_HEAD.json5
  test/tapes/thumb_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive_HEAD.json5
  test/tapes/thumb_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive_HEAD.json5
Due: none

Temporarily disable copy button unit test
  test/unit/specs/components/v-copy-button.spec.js
Due: eslint --fix, prettier --write

Convert all VMediaInfo components to TS
  src/components/VMediaInfo/VMediaLicense.vue
  src/components/VMediaInfo/VMediaReuse.vue
  src/utils/license.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add POT file
  src/locales/po-files/openverse.pot
Due: none

Create VSourcesTable component
  package.json
  pnpm-lock.yaml
  src/components/TableSortIcon.vue
  src/components/VSourcesTable.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/sources.vue
  src/styles/components/table.sass
  src/styles/vocabulary.scss
  tsconfig.json
Due: eslint --fix, prettier --write

Remove sass styles and packages
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/styles/accent.css
  src/styles/base/generic.sass
  src/styles/base/layout.sass
  src/styles/base/minireset.sass
  src/styles/components/button.sass
  src/styles/components/card.sass
  src/styles/components/content.sass
  src/styles/components/footer.sass
  src/styles/components/image.scss
  src/styles/components/navbar.sass
  src/styles/form/_all.sass
  src/styles/form/input-textarea.sass
  src/styles/form/radio.sass
  src/styles/form/select.sass
  src/styles/form/shared.sass
  src/styles/form/tools.sass
  src/styles/global.scss
  src/styles/helpers/_all.sass
  src/styles/helpers/color.sass
  src/styles/helpers/flexbox.sass
  src/styles/helpers/float.sass
  src/styles/helpers/other.sass
  src/styles/helpers/spacing.sass
  src/styles/helpers/typography.sass
  src/styles/helpers/visibility.sass
  src/styles/text-only-page.scss
  src/styles/utilities/all.scss
  src/styles/utilities/controls.scss
  src/styles/utilities/derived-variables.scss
  src/styles/utilities/functions.scss
  src/styles/utilities/initial-variables.scss
  src/styles/utilities/mixins.scss
  src/styles/vocabulary.scss
  tailwind.config.js
Due: eslint --fix, prettier --write

Update snapshots
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Use aria-labelledby instead of aria-label where label exists in the DOM
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VTabs/VTabs.vue
  src/pages/feedback.vue
Due: eslint --fix, prettier --write

Only use VButton for VTab
  src/components/VTabs/VTab.vue
Due: eslint --fix, prettier --write

Use style module and correctly handle arrow keys in RTL
  src/components/VTabs/VTab.vue
Due: eslint --fix, prettier --write

Add documentation
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/components/VTabs/meta/VTabs.stories.mdx
  src/models/tabs.ts
  src/pages/feedback.vue
  tailwind.config.js
Due: eslint --fix, prettier --write

Complement to app layout issues (#1312)
  src/components/VScrollButton.vue
  src/layouts/default.vue
  src/pages/search.vue
Due: eslint --fix, prettier --write

Standardize sidebar with in CSS var; make filter sidebar border conditional
  src/layouts/default.vue
  src/pages/search.vue
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

Make banner styles more consistient on mobile
  src/components/VMigrationNotice.vue
  src/components/VNoticeBar/VNoticeBar.vue
  src/components/VNotificationBanner.vue
Due: eslint --fix, prettier --write

Reduce height of desktop translation bar
  src/components/VNotificationBanner.vue
Due: eslint --fix, prettier --write

Delete unused VNoticeBar
  src/components/VNoticeBar/VNoticeBar.vue
  src/components/VNoticeBar/meta/VNoticeBar.stories.mdx
Due: eslint --fix, prettier --write

Remove hardcoded leading for search result title
  src/components/VSearchGrid.vue
Due: eslint --fix, prettier --write

Convert useGetLocaleFormattedNumber to TS
  src/composables/use-get-locale-formatted-number.ts
  tsconfig.json
Due: eslint --fix, prettier --write

TSify and clean up VFilterButton
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  test/storybook/utils/args.ts
  test/storybook/visual-regression/v-filter-button.spec.ts
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-md-linux.png
  test/unit/specs/components/VHeader/v-filter-button.spec.js
  tsconfig.json
Due: eslint --fix, prettier --write

Fix bad import
  src/composables/use-window-scroll.js
Due: eslint --fix, prettier --write

TSify and simplify breakpoints
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VLogoButton.vue
  src/composables/use-active-audio.ts
  src/composables/use-browser-detection.ts
  src/composables/use-media-query.ts
  src/composables/window.js
  src/constants/screens.js
  src/constants/window.ts
  src/utils/pinia-state.ts
  test/playwright/utils/breakpoints.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Update filter label selector for double label
  test/playwright/e2e/filters.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix, prettier --write

Hide logo button text for small screens
  src/components/VHeader/VLogoButton.vue
Due: eslint --fix, prettier --write
