Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Revert other unrelated changes
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  src/components/VHeader/VContentSettingsButton.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VHeaderOld/meta/VFilterButton.stories.mdx
  tailwind.config.js
  test/storybook/playwright.config.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-md-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a draft story for VHeaderDesktop
  src/components/VHeader/meta/VHeaderDesktop.stories.mdx
Due: prettier --write

Create the presentational component for recent search results
  src/components/VRecentSearches/VRecentSearches.vue
  src/components/VRecentSearches/meta/VRecentSearches.stories.mdx
  src/locales/en.json
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Register component in TS config and fix type errors
  src/components/VRecentSearches/VRecentSearches.vue
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the VFilterButton
  src/components/VButton.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VHeaderOld/meta/VFilterButtonOld.stories.mdx
  src/composables/use-search-type.ts
  tailwind.config.js
  test/storybook/playwright.config.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-no-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button-old.spec.ts-snapshots/filter-button-old-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-not-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-pressed-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-2-filters-scrolled-xs-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-at-rest-md-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-no-filters-not-scrolled-xl-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-filter-button.spec.ts-snapshots/filter-button-pressed-md-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VHeaderDesktop VR tests
  src/stores/feature-flag.ts
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header-desktop.spec.ts
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-closed-rtl-xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-ltr-lg-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-ltr-xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-rtl-lg-linux.png
  test/playwright/visual-regression/components/header-desktop.spec.ts-snapshots/filters-open-rtl-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the VSearchTypeButton.vue to match the new designs
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  src/composables/use-search-type.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Handle scenario with no recent searches
  src/components/VRecentSearches/VRecentSearches.vue
  src/components/VRecentSearches/meta/VRecentSearches.stories.mdx
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update About page snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: none

Make VLink render only `<a>` or `nuxt-link`
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/VContentLinkWrapper.vue
  src/components/VLink.vue
  src/components/VSourcesTable.vue
  src/pages/image/_id.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Simplify classes
  src/components/VContentLink/VContentLinkWrapper.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Temporarily skip a test
  test/unit/specs/components/v-content-link.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use `a` without `href` with `role=link` for (disabled) links without `href`
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VContentLink/VContentLink.vue
  src/components/VContentLink/VContentLinkWrapper.vue
  src/components/VLink.vue
  src/components/VSourcesTable.vue
  src/pages/image/_id.vue
  src/pages/index.vue
  test/unit/specs/components/v-content-link.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Switch to vue-use for the useStorage composable
  package.json
  pnpm-lock.yaml
  src/components/VNotificationBanner.vue
  src/composables/use-storage.ts
  src/stores/search.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix searc-store test
  test/unit/specs/stores/search-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Set the border for all non-plain-dangerous button variants
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Set the correct bg shade
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the snapshots
  src/components/VButton.vue
  test/storybook/visual-regression/v-button.spec.ts-snapshots/full-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/full-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-resting-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove duplicated border declarations
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-bordered-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-muted-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/action-menu-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/full-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/full-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/menu-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/plain-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-bordered-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-filled-resting-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-pressed-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-pressed-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/secondary-resting-linux.png
Due: none

Revert height changes
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add snapshots
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-hovered-linux.png
  test/storybook/visual-regression/v-button.spec.ts-snapshots/primary-resting-linux.png
Due: none

Update src/locales/en.json
  src/locales/en.json
Due: prettier --write

Add snapshots
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Remove unused strings; quote feature name
  src/locales/en.json
Due: prettier --write

Update the VSearchTypeButton.vue to match the new designs
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
  src/composables/use-search-type.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add VSearchTypeButton.vue Storybook snapshots
  test/storybook/visual-regression/v-search-type-button.spec.ts
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-at-rest-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-hovered-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-pressed-lg-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-at-rest-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-hovered-xl-linux.png
  test/storybook/visual-regression/v-search-type-button.spec.ts-snapshots/v-search-type-button-with-text-pressed-xl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Set maxDiffPixelRatio for Storybook VR tests to 0.02
  test/storybook/playwright.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add button style changes
  src/components/VButton.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Refactor the story and remove unused props
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/meta/VSearchTypeButton.stories.mdx
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix URL in the test
  test/storybook/visual-regression/v-search-type-button.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a new math util for cyclic shift
  src/utils/math.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Improve searchbar stories to match real-world usage
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
Due: prettier --write

Refactor SearchTypePopover for desktop header
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VHeader/VHeaderDesktop.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VHeader/VHeaderMobile.vue
  src/components/VHeader/meta/VHeader.stories.mdx
  src/components/VHeader/meta/VHeaderDesktop.stories.mdx
  src/components/VHeader/meta/VHeaderMobile.stories.mdx
  src/layouts/default.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
