Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update tapes
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/response-236.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_37a028d5-4110-47b5-8181-e2087254ec46_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_71be3bb7-fcde-4284-a113-b051a61d6e16_keep-alive.json5
  test/tapes/thumb_audio_7b1f2f67-d125-4551-abc6-a92e1dc86327_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_c0371485-7a83-422f-80a8-415b661a24f8_keep-alive.json5
  test/tapes/thumb_audio_cd1c7a96-1cfb-4378-b4e0-920799da921b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cbf9ee79-f76c-4993-986f-5dac48b52d97_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
Due: none

Remove unused deps and add unit test
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/layouts/VFullLayout.vue
  test/unit/fixtures/audio.js
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
Due: eslint --fix, prettier --write

Update POT
  src/locales/po-files/openverse.pot
Due: none

Add full prop types
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix, prettier --write

Fix layout status options
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix, prettier --write

Use fixture for audio object
  test/unit/specs/components/AudioTrack/v-box-layout.spec.js
Due: eslint --fix, prettier --write

update vue-tsc
  package.json
  pnpm-lock.yaml
Due: prettier --write

update eslint-plugin-tsdoc
  package.json
  pnpm-lock.yaml
Due: prettier --write

update glob
  package.json
  pnpm-lock.yaml
Due: prettier --write

Correct search-help links
  src/pages/search-help.vue
  tsconfig.json
Due: eslint --fix, prettier --write

Update search query on the client side, too
  src/pages/search.vue
Due: eslint --fix, prettier --write

Add POT file
  src/locales/po-files/openverse.pot
Due: none

Add missing tapes
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/response-236.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Add missing tapes
  test/tapes/related_audio_2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/response-238.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

update eslint related deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

update core-js related deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

moved @wordpress/is-shallow-equal back to dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Unify SearchBar stories and TS-ify
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/meta/VSearchBar.stories.mdx
  src/components/VHeader/meta/VSearchBar.stories.mdx
  src/components/VInputField/VInputField.vue
  src/composables/use-match-routes.ts
  tsconfig.json
Due: eslint --fix, prettier --write

TS-ify VSearchBar
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: eslint --fix, prettier --write

Skip extra ref in default layout
  src/layouts/default.vue
Due: eslint --fix, prettier --write

Move VScrollButton completely to setup function
  src/components/VScrollButton.vue
Due: eslint --fix, prettier --write

Reuse VInputField FIELD_SIZES constant in VSearchBar
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VInputField/VInputField.vue
Due: eslint --fix, prettier --write

TS-ify VWaveform
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VAudioTrack/meta/VWaveform.stories.mdx
  tsconfig.json
Due: eslint --fix, prettier --write

TS-ify VFullLayout
  src/components/VAudioTrack/layouts/VFullLayout.vue
  tsconfig.json
Due: eslint --fix, prettier --write

TS-ify Layouts and Thumbnail
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/models/media.ts
  src/utils/math.ts
  tsconfig.json
Due: eslint --fix, prettier --write

TS-ify all audio components
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/constants/audio.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Use `timestamps` as feature name everywhere
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VAudioTrack/meta/VWaveform.stories.mdx
  src/constants/audio.ts
  src/stores/active-media.ts
Due: eslint --fix, prettier --write

Update src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioThumbnail/VAudioThumbnail.vue
Due: eslint --fix, prettier --write

Update src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: eslint --fix, prettier --write

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Remove horizontal scroll on search pages
  src/pages/search.vue
Due: eslint --fix, prettier --write

Add snapshots
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-ltr-sm-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-ltr-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-rtl-sm-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/resting-rtl-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-2xl-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-lg-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-md-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-sm-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-xl-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-ltr-sm-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-ltr-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-rtl-sm-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/searchbar-hovered-rtl-xs-linux.png
Due: none

Apply code review suggestions
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Apply code review suggestions
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/VWaveform.vue
  typings/openverse/index.d.ts
Due: eslint --fix, prettier --write

Apply code review suggestions
  src/locales/po-files/openverse.pot
Due: none

Add missing tapes
  test/tapes/related_audio_2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/related_audio_2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/related_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/related_images_da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/related_images_f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/response-239.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Move csstype type augmentations to a separate module
  typings/csstype/index.d.ts
  typings/openverse/index.d.ts
Due: eslint --fix, prettier --write

Remove unnecessary validators
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix, prettier --write

Fix VIconButton default variant
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VButton.vue
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VIconButton/VIconButton.vue
  src/types/prop-extraction.ts
  test/playwright/visual-regression/content-report-form.spec.ts
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
  test/tapes/detail_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_close.json5
  test/tapes/related_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_close.json5
  test/tapes/related_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  test/tapes/thumb_images_55b1ada4-4346-400a-a94f-d08a39349c87_keep-alive.json5
  test/tapes/thumb_images_8a95b528-57c6-41ae-8718-bfab7c8d733a_keep-alive.json5
  test/tapes/thumb_images_feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  test/tapes/thumb_images_ff714025-19d1-4b35-bf58-198b9f837705_keep-alive.json5
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,vue}
  prettier --write: any of: *.{ts,js,vue,json,yml,yaml,mdx,md}
