Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Changes to match additional sources section to mockups
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  src/locales/en.json
  test/locales/ar.json
  test/playwright/visual-regression/components/additional-sources-section.spec.ts
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-all-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-audio-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-image-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-image-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-rtl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
Due: none

Update src/locales/en.json
  src/locales/en.json
Due: prettier --write

Update snapshots
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-image-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-ltr-linux.png
  test/playwright/visual-regression/components/additional-sources-section.spec.ts-snapshots/additional-sources-section-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix (?) linting
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update POT file
  openverse.pot
Due: none

Show message on audio play errors
  src/components/VAudioTrack/VAudioTrack.vue
  src/locales/en.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Simplify VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
  test/unit/fixtures/audio.js
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update the snapshots
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-linux.png
  test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-linux.png
Due: none

Use `~` instead of relative path
  src/components/VAllResultsGrid/VAllResultsGrid.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Define `emits` for the component
  src/components/VAudioTrack/VAudioTrack.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reorder imports
  src/components/VAllResultsGrid/VAllResultsGrid.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update renovatebot/github-action action to v32.187.1
  .github/workflows/renovate.yml
Due: prettier --write

Switch from "black" css color keyword to "#000000" hex value
  tailwind.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Convert use-focus-on-blur to TS
  src/composables/use-dialog-content.js
  src/composables/use-focus-on-hide.ts
  src/utils/reakit-utils/focus.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Convert use-focus-on-blur to TS
  src/composables/use-dialog-content.js
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-blur.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Convert use-hide-on-click-outside and use-event-listener-outside to TS
  src/composables/use-event-listener-outside.ts
  src/composables/use-hide-on-click-outside.ts
  src/utils/reakit-utils/dom.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update use-hide-on-click-outside usage
  src/composables/use-dialog-content.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

TS-ify use-dialog-content
  src/assets/icons/openverse-logo-text.svg
  src/components/VHeader/VLogoButton.vue
  src/components/VModal/VModalContent.vue
  src/composables/use-dialog-content.ts
  src/composables/use-focus-on-show.ts
  src/composables/use-popover-content.js
  tsconfig.json
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Delete unused fonts
  src/assets/fonts/JetBrainsMono-Bold.otf
  src/assets/fonts/JetBrainsMono-Bold.woff
  src/assets/fonts/JetBrainsMono-Bold.woff2
  src/assets/fonts/JetBrainsMono-Regular.otf
  src/assets/fonts/JetBrainsMono-Regular.woff
  src/assets/fonts/JetBrainsMono-Regular.woff2
  src/assets/fonts/RobotoCondensed-Bold.otf
  src/assets/fonts/RobotoCondensed-Bold.woff
  src/assets/fonts/RobotoCondensed-Bold.woff2
  src/assets/fonts/RobotoCondensed-Regular.otf
  src/assets/fonts/RobotoCondensed-Regular.woff
  src/assets/fonts/RobotoCondensed-Regular.woff2
  src/assets/fonts/SourceSansPro-Bold.otf
  src/assets/fonts/SourceSansPro-Bold.woff
  src/assets/fonts/SourceSansPro-Bold.woff2
  src/assets/fonts/SourceSansPro-Regular.otf
  src/assets/fonts/SourceSansPro-Regular.woff
  src/assets/fonts/SourceSansPro-Regular.woff2
  src/assets/fonts/SourceSansPro-SemiBold.otf
  src/assets/fonts/SourceSansPro-SemiBold.woff
  src/assets/fonts/SourceSansPro-SemiBold.woff2
Due: none

Delete JetBrainsMono-Bold.otf
  src/assets/fonts/JetBrainsMono-Bold.otf
Due: none

Delete JetBrainsMono-Bold.woff
  src/assets/fonts/JetBrainsMono-Bold.woff
Due: none

Delete JetBrainsMono-Bold.woff2
  src/assets/fonts/JetBrainsMono-Bold.woff2
Due: none

Delete JetBrainsMono-Regular.otf
  src/assets/fonts/JetBrainsMono-Regular.otf
Due: none

Delete JetBrainsMono-Regular.woff
  src/assets/fonts/JetBrainsMono-Regular.woff
Due: none

Delete JetBrainsMono-Regular.woff2
  src/assets/fonts/JetBrainsMono-Regular.woff2
Due: none

Delete RobotoCondensed-Bold.otf
  src/assets/fonts/RobotoCondensed-Bold.otf
Due: none

Delete RobotoCondensed-Bold.woff
  src/assets/fonts/RobotoCondensed-Bold.woff
Due: none

Delete RobotoCondensed-Bold.woff2
  src/assets/fonts/RobotoCondensed-Bold.woff2
Due: none

Delete RobotoCondensed-Regular.otf
  src/assets/fonts/RobotoCondensed-Regular.otf
Due: none

Delete RobotoCondensed-Regular.woff
  src/assets/fonts/RobotoCondensed-Regular.woff
Due: none

Delete RobotoCondensed-Regular.woff2
  src/assets/fonts/RobotoCondensed-Regular.woff2
Due: none

Delete SourceSansPro-Bold.otf
  src/assets/fonts/SourceSansPro-Bold.otf
Due: none

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml,mdx,md}) or (any of: *.{ts,js,vue})
  eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .: any of: *.{ts,js,vue}
