Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

removed external-sources page from test and removed external sources snapshots
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/external-sources-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/external-sources-rtl-xs-linux.png
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

update about page snapshots
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: none

remove external-sources page from pags-with-old-header-test
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update test/unit/specs/components/v-modal.spec.js
  test/unit/specs/components/v-modal.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Downgrade vue-tsc to pre-1 version for Vue 2
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

add bash script to create a component with only one argument && changed commands names
  bin/create-component.sh
  package.json
Due: prettier --write

update README.md
  README.md
Due: prettier --write

spelling mistake
  README.md
Due: prettier --write

Refactor VAudioTrack's Row layout to simplify
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VAudioTrack/meta/VAudioTrack.stories.mdx
  src/components/VIconButton/VIconButton.vue
  src/components/VImageGrid/VImageCell.vue
  src/components/VLicense/VLicense.vue
  src/components/VLicense/meta/VLicense.stories.mdx
  src/pages/search/audio.vue
  tailwind.config.js
  test/unit/specs/components/v-license.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Adjust font sizes and fix test
  src/components/VAudioTrack/layouts/VRowLayout.vue
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/locales/scripts/en.json5
  src/locales/scripts/en.json5
Due: none

Add text changes to ar.json
  test/locales/ar.json
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages-with-old-header.spec.ts-snapshots/about-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: prettier --write

Update POT file
  openverse.pot
Due: none

Update bin/create-component.sh
  bin/create-component.sh
Due: none

Update bin/add-entry-to-tsconfig.js
  bin/add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
Due: none

🔄 Synced local '.pre-commit-config.yaml' with remote '.pre-commit-config.frontend.yaml.jinja'
  .pre-commit-config.yaml
Due: prettier --write

🔄 Synced local 'prettier.config.js' with remote 'prettier.config.frontend.js.jinja'
  prettier.config.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix Prettier violations
  src/components/VFourOhFour.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/components/VBanner/VBanners.vue
  src/components/VBanner/VBanners.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update src/stores/ui.ts
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update test/unit/specs/stores/ui-store.spec.js
  test/unit/specs/stores/ui-store.spec.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Remove unnecessary eslint override
  .eslintrc.js
  src/pages/privacy.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Use constant for minimum translation percentage
  src/utils/translation-banner.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Correct condition for dismissed banners
  src/stores/ui.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed changes
  .pre-commit-config.yaml
Due: prettier --write

removed changes
  bin/add-entry-to-tsconfig.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Reorder z-indices to prevent audio player control obstruction
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/components/VSnackbar.vue
  src/constants/z-indices.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

running prettier at the end of the component creation process and add component name validation
  bin/create-component.sh
Due: none
