Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add storybook to jest ignore
  jest.config.js
Due: eslint --fix, prettier --write

Add README
  package.json
  test/playwright/README.md
  test/storybook/README.md
Due: prettier --write

Add E2E tests for copy functionality
  test/playwright/e2e/attribution.spec.ts
Due: eslint --fix, prettier --write

Remove unnecessary type declaration
  typings/nuxt__types/index.d.ts
Due: eslint --fix, prettier --write

Swap execution order of prettier and eslint
  package.json
Due: prettier --write

Change ampersand to semicolon
  package.json
Due: prettier --write

Remove usage of legacy classes
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: eslint --fix, prettier --write

Ignore vue-i18n/no-raw-text rule in test files
  .eslintrc.js
Due: eslint --fix, prettier --write

Add brand names to ignoreText in eslint config
  .eslintrc.js
Due: eslint --fix, prettier --write

Remove eslint exceptions now not required in components
  src/components/VFourOhFour.vue
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/pages/about.vue
  src/pages/index.vue
  src/pages/meta-search.vue
  src/pages/sources.vue
Due: eslint --fix, prettier --write

Update the pot file
  src/locales/po-files/openverse.pot
Due: none

Upgrade playwright
  bin/playwright.sh
  package.json
  pnpm-lock.yaml
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
Due: prettier --write

Truncate source urls and make them more visually presentable
  src/pages/sources.vue
  test/playwright/utils/page.ts
  test/playwright/visual-regression/sources.spec.ts
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: eslint --fix, prettier --write

Fix missing fullpage argument
  test/playwright/visual-regression/sources.spec.ts
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: eslint --fix, prettier --write

Allow passing options to screenshot function
  test/playwright/utils/breakpoints.ts
Due: eslint --fix, prettier --write

Narrow talkback headers to just connection
  test/proxy.js
Due: eslint --fix, prettier --write

Update caret color to avoid flakiness
  test/playwright/utils/page.ts
  test/playwright/visual-regression/homepage.spec.ts
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: eslint --fix, prettier --write

Fix sources page tests
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
Due: none

Fix capitalization
  .github/workflows/ci.yml
Due: prettier --write

Fix capitalization part 2
  .github/workflows/ci.yml
Due: prettier --write

Fix capitalization part 3
  .github/workflows/ci.yml
Due: prettier --write

Fix capitalization part 4
  .github/workflows/ci.yml
Due: prettier --write

TS-ify report-service
  src/data/report-service.ts
Due: eslint --fix, prettier --write

Apply suggestions from code review
  src/data/report-service.ts
Due: eslint --fix, prettier --write

Extract related changes from tsify-vi branch
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VReportDescForm.vue
  src/components/VErrorSection/VErrorImage.vue
  src/components/VErrorSection/meta/VErrorSection.stories.mdx
  src/constants/content-report.js
  src/constants/content-report.ts
  src/constants/errors.ts
  src/data/report-service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add a dummy file with ts-ified content-report constants
  src/constants/content-report-ts.ts
  src/data/report-service.ts
Due: eslint --fix, prettier --write

Add playwright changes from #1241
  test/tapes/detail_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
Due: none

TS-ify plugins
  nuxt.config.ts
  src/plugins/focus-visible.ts
  src/plugins/migration-notice.ts
  src/plugins/ua-parse.ts
  src/plugins/url-change.ts
  src/plugins/vue-i18n.ts
Due: eslint --fix, prettier --write

Revert changes to server-middleware
  nuxt.config.ts
  src/server-middleware/healthcheck.js
  src/server-middleware/healthcheck.ts
Due: eslint --fix, prettier --write

TS-ify middleware and server-middleware
  nuxt.config.ts
  src/middleware/middleware.ts
  src/server-middleware/healthcheck.js
  src/server-middleware/healthcheck.ts
Due: eslint --fix, prettier --write

Fix missing pinia types (#1230)
  tsconfig.json
  typings/nuxt__types/index.d.ts
Due: eslint --fix, prettier --write

Add injected properties and Plugin types to nuxt__types
  src/plugins/ua-parse.ts
  src/plugins/url-change.ts
  typings/nuxt__types/index.d.ts
Due: eslint --fix, prettier --write

Apply changes from code review
  src/middleware/middleware.ts
  typings/nuxt__types/index.d.ts
Due: eslint --fix, prettier --write

Add default export to middleware
  src/middleware/middleware.ts
Due: eslint --fix, prettier --write

Fix app layout issues
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/layouts/default.vue
Due: eslint --fix, prettier --write

Fix sidebar height class
  src/layouts/default.vue
Due: eslint --fix, prettier --write

Enforce zero warning pass
  package.json
Due: prettier --write

Convert search store to an options store
  src/pages/index.vue
  src/stores/search.ts
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix, prettier --write

Extract media-item options store from media store
  src/composables/use-fetch-state.ts
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  src/stores/media/index.ts
  src/stores/media/media-item.ts
  test/unit/specs/stores/media-item-store.spec.js
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix, prettier --write

Convert related store to options store
  src/composables/use-fetch-state.ts
  src/stores/media/related-media.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,vue}
  prettier --write: any of: *.{ts,js,vue,json,yml,yaml,mdx,md}
