Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

.lintstagedrc:

{
  "*.{json,yml,yaml,mdx,md}": "prettier --write",
  "*.{ts,js,vue}": [
    "prettier --write",
    "eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 ."
  ]
}

Add references to the new `en.json` process
  src/locales/scripts/create-wp-locale-list.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add a comment as an example
  src/locales/scripts/en.json5
Due: none

Update `setup-node-env` action to create `en.json`
  .github/actions/setup-node-env/action.yml
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Handle `wp-locales.json` being missing
  src/locales/scripts/get-translations.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Throw if line could not be parsed
  src/locales/scripts/read-i18n.js
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Fix VInputFieldOld component name
  src/components/VInputFieldOld/VInputFieldOld.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Update actions/setup-node action to v3.5.1
  .github/actions/setup-node-env/action.yml
Due: prettier --write

Update alex-page/github-project-automation-plus action to v0.8.2
  .github/workflows/new_issues.yml
Due: prettier --write

Update renovatebot/github-action action to v32.241.11
  .github/workflows/renovate.yml
Due: prettier --write

Update slackapi/slack-github-action action to v1.23.0
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: prettier --write

Update POT file
  openverse.pot
Due: none

🔄 Synced local '.github/workflows/new_prs.yml' with remote '.github/workflows/new_prs.yml'
  .github/workflows/new_prs.yml
Due: prettier --write

🔄 Synced local '.github/workflows/new_issues.yml' with remote '.github/workflows/new_issues.yml'
  .github/workflows/new_issues.yml
Due: prettier --write

🔄 Created local '.github/subscribe-to-label.json' from remote '.github/subscribe-to-label.json'
  .github/subscribe-to-label.json
Due: prettier --write

🔄 Synced local '.github/workflows/subscribe_to_label.yml' with remote '.github/workflows/subscribe_to_label.yml'
  .github/workflows/subscribe_to_label.yml
Due: prettier --write

Update .github/subscribe-to-label.json
  .github/subscribe-to-label.json
Due: prettier --write

Remove unused file
  .github/subscribe_to_label.json
Due: prettier --write

Add playwright test
  test/playwright/visual-regression/components/filters-sidebar.spec.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add snapshots
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-filters-selected-rtl-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-ltr-linux.png
  test/playwright/visual-regression/components/filters-sidebar.spec.ts-snapshots/filters-sidebar-rtl-linux.png
Due: none

add sentry plugin
  src/plugins/sentry.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

removed comment
  src/plugins/sentry.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add sentry plugin to nuxt.config
  nuxt.config.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

add comment
  src/plugins/sentry.ts
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .

Add docker scripts and just shim
  README.md
  justfile
  package.json
Due: prettier --write

Add motivation
  README.md
Due: prettier --write

Fix linting
  justfile
Due: none

Clarify `just run` documentation
  justfile
Due: none

Set up EN translations in `predev` script
  package.json
Due: prettier --write

Add a note about `en.json5` being the primary file for translations
  src/locales/README.md
Due: prettier --write

Write EN translations file in `i18n:copy-test-locales` script
  package.json
Due: prettier --write

Refactor VSearchButton
  src/components/VFourOhFour.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  src/components/VHeaderOld/VSearchBar/VSearchBarOld.vue
  src/components/VHeaderOld/VSearchBar/VSearchButtonOld.vue
  src/pages/index.vue
Due: prettier --write, eslint --ext .js,.vue,.ts --ignore-path .gitignore --ignore-path .eslintignore --max-warnings=0 .
